[2018-08-15 11:58] vecernik opened #1 "Change input parameters testing"
I just found this lib and I love it for OnPush testing. Is there a way to change component's @Input() parameters and assert the changes it makes?

That could allow to createComponent() only once and test() only changes made to Inputs.

This currently doesn't work (using tpl "<span *ngIf="isOpened">Opened</span>"):

expect(createdComponent.getByText('Opened')).not.toBeDefined() // THIS WORKS with i

[2018-08-15 14:13] timdeschryver commented on #1
Hi @vecernik ! Thanks for the feedback.
Have you tried it with `createdComponent.fixture.detectChanges()`?
Because this isn't done automatically for you, only if you would do `click(createdComponent.getByText('toggle'))` (which I recommend to do).

[2018-08-15 14:41] vecernik commented on #1
Unfortunately, detectChanges() has no effect, probably because of changeDetection: ChangeDetectionStrategy.OnPush of the component.

It looks like with OnPush, attributes must be defined in a host component scope, then passed to a tested component as inputs. Then, changes should be propagated from a host component scope to a tested component and rerendered.

[2018-08-15 14:57] timdeschryver commented on #1
I'll try to take a look later this week, feel free to take a stab at it too ;)

[2018-08-15 18:28] timdeschryver commented on #1
I was able to reproduce it and it seems like you're right.
Also, it's working if you do the following
[code]
instead of
[code]

[2018-08-16 20:13] timdeschryver commented on #1
I've given it a bit more thought and I think this won't be added, because this goes against the ideas and principles of this library. If you want to toggle the `isOpened` in your use case you should do this by triggering an event, just like your users would do.

If you would want to toggle `isOpened` programmaticaly you'll have to inject `ChangeDetectorRef` in your component and trigger the change

[2018-08-16 20:13] #1 closed

[2019-04-25 19:18] kentcdodds opened #4 "Bring more in line with the rest of the testing-library family?"
Hi there! 👋

I noticed that the API that this exposes makes it a bit different from the rest of the *-testing-library projects we have. Any interest in reworking it to be more familiar for folks used to the *-testing-library projects?

[2019-04-28 12:22] timdeschryver commented on #4
Hi Kent!
Thanks for bringing this up to my attention, I will have a look somewhere in the near future because I will also have to upgrade this for the Angular release.

Did you have something specific in mind? Because I could have done that on purpose.

[2019-04-29 23:10] kentcdodds commented on #4
Hi @timdeschryver!

A framework wrapper like this one should expose a function called `render` (or whatever makes sense in the angular world) which would render the given component to a DOM node and return the dom-testing-library queries that are bound to that node (using `getQueriesForElement`). It can also return a few other framework-specific utilities as well.

You can [look at react-testing-l

[2019-05-01 17:58] timdeschryver commented on #4
Thanks for the feedback @kentcdodds, I should've kept a closer look to the other libraries and I should have followed up on `dom-testing-library`.

I'm currently busy to align this library with the rest in #5

To provide some more info:

- I have renamed the render function to `render`
- Queries were already returned, but I've added the option to override the queries
- Removed the TestBed method (

[2019-05-01 18:04] kentcdodds commented on #4
I love the changes 👍

It's up to you, but if you'd like, you're welcome to transfer this repository to the [testing-library organization on GitHub](https://github.com/testing-library). This will give your project more credibility as part of the testing-library family of projects with a unified mission of tools which help people avoid testing implementation details.

Again, totally up to you. I jus

[2019-05-05 15:08] #4 closed

[2019-05-05 15:15] timdeschryver commented on #4
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/angular-extensions/testing-library/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-05 15:27] kentcdodds commented on #4
Yes!! Sweet! It looks awesome! Any chance we could get an update on the docs site?

[2019-05-05 15:30] timdeschryver commented on #4
Yes, we will 😃
I'm going to upgrade some packages at work to use this version, once that is done I can start with the documentation 🎉

I will also move this repo over to the testing-library family soon, is there anything special about this? Or can I just move it over?

[2019-05-05 15:38] kentcdodds commented on #4
You've been invited to the org 👍

[2019-05-05 15:45] timdeschryver commented on #4
Thanks Kent, I'll migrate the repo soon.

[2019-05-06 11:03] timdeschryver commented on #4
The library is migrated but it seems like I can't rename it to `angular-testing-library`

[2019-05-06 15:59] kentcdodds commented on #4
Weird. You should be able to. I'll look into it.

[2019-05-06 16:02] kentcdodds commented on #4
Ok. I fixed the permissions and also renamed it for you. Hopefully all CI just updates automagically :)

[2019-05-06 16:38] timdeschryver commented on #4
We'll figure it out soon enough, thanks again!

[2019-05-07 11:32] MichaelDeBoey opened #13 "Consider publishing package via angular-testing-library on npm"
Right now the package is published as [`@angular-extensions/testing-library`](https://npm.im/@angular-extensions/testing-library) but it would be clearer and more in line with the rest of the `*-testing-library` family if we can publish it as [`angular-testing-library`](https://npm.im/angular-testing-library) if @brandonroberts would be so kind of transferring the package.

[2019-05-11 14:36] rodmax opened #14 "library not working without jest ?"
I attempt to write test using the angular-testing-library and get the error

[code]

My environment:
- standard angular project created by angular cli
- so unit tests handled by karma & jasmine

i write simple test

[code]

thank you in advance

[2019-05-12 11:12] timdeschryver commented on #14
Hi @rodmax , thanks for bringing this up.
This should be fixed when #15 is merged, I currently have some problems with the CI settings, I hope to get this resolved next week.

[2019-05-13 20:19] #14 closed

[2019-05-13 20:23] timdeschryver commented on #14
:tada: This issue has been resolved in version 4.0.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v4.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 17:41] timdeschryver commented on #13
See https://github.com/testing-library/dom-testing-library/issues/260 😃

[2019-05-29 19:03] timdeschryver opened #17 "feat: using render without RenderOptions"
It should be possible to render a component without the need of the render options parameter:

[code]

[2019-05-31 18:01] mabraithwaite opened #18 "feat: added override option to RenderOptions to override services"
Currently it doesn't look like there's a way to override services provided by the component

    @Injectable()
    export class Service1 {
        ...
    }

    @Component({
        providers: [Service1]
    })
    export class Component1 {
        ...
    }

    render(Component1, {
        ...,
        providers: [
            {
                provide: Service1,
                useValue: {}

[2019-05-31 19:53] #18 closed

[2019-05-31 19:56] timdeschryver commented on #18
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 19:59] timdeschryver commented on #18
The latest version uses Angular version 8, if you can't upgrade you can fix this manually with:

[code]

[2019-05-31 20:53] #13 closed

[2019-05-31 20:57] timdeschryver commented on #13
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-11 11:06] #17 closed

[2019-06-11 11:09] timdeschryver commented on #17
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-14 08:56] timdeschryver opened #25 "bug: provider is undefined"
With the change in #19  the global providers are `undefined`.

Repro: the tests at https://github.com/testing-library/angular-testing-library/tree/bug/undefined-provider should all turn green

For more info see: https://angular.io/guide/testing#override-component-providers

Current thoughts: have a `componentProviders` option.

[2019-06-17 06:46] #25 closed

[2019-06-17 06:49] timdeschryver commented on #25
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-03 15:42] szabototo89 opened #27 "Exclude componentDeclarations from TestingModule"
For the sake of simplicity, there was a change in the `render` usage and we don't need to specify the tested component in the `declarations` within the RenderOptions object. However most of the time the component is declared in a NgModule, because of many dependencies and it also make tests more resilience.

With the current mechanism we're getting these errors:

`Error: Type XYZComponent is part

[2019-07-03 16:15] timdeschryver commented on #27
I haven't thought about this while making the change. Thanks for opening this issue!
I think we can make it smart enough to exclude it, so you as a dev shouldn't think about it.

[2019-07-03 18:39] timdeschryver commented on #27
Misread the issue, this can't be done automatically AFAIK.
See #28 for the fix, will probably get released in soon.

[2019-07-03 19:58] szabototo89 commented on #27
Yeah, this is exactly what I was thinking of! Thanks!

[2019-07-04 06:16] #27 closed

[2019-07-04 06:19] timdeschryver commented on #27
:tada: This issue has been resolved in version 7.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v7.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-05 10:25] szabototo89 opened #29 "Fix render() function return type"
https://github.com/testing-library/angular-testing-library/blob/master/projects/testing-library/src/lib/testing-library.ts#L16

There is no explicit type for render function declaration and typescript generates this declaration type file:

[code]

Could you specify their return types with `RenderResult`?

[2019-07-09 19:48] timdeschryver commented on #29
Thanks for addressing this, this is indeed wrong and the return type should be `Promise<RenderResult>`.

Do you want to create a Pull Request with a fix?

[2019-07-10 10:19] szabototo89 commented on #29
Sure, I'll fix it.

[2019-07-15 05:50] #29 closed

[2019-07-15 05:54] timdeschryver commented on #29
:tada: This issue has been resolved in version 7.0.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v7.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-02 15:42] dgsmith2 opened #34 "Where is jest-utils?"
I'm looking to update a project from angular-testing-library to @testing-library/angular.  However, jest-utils isn't packaged.  Therefore `createMock` and `provideMock` are unavailable.  It this intentional?

[2019-08-02 17:21] timdeschryver commented on #34
Seems like there went something wrong, with the commit.
I will release a new version ASAP.

[2019-08-02 17:58] dgsmith2 commented on #34
Just to make sure you don't end with a regression, I did see that it was separated out in #15.  I am simply looking for the means to optionally pull it in.  Thanks!

[2019-08-02 18:53] timdeschryver commented on #34
Thanks @dgsmith2 🙂

[2019-08-03 07:51] #34 closed

[2019-08-03 07:54] timdeschryver commented on #34
:tada: This issue has been resolved in version 7.1.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v7.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-15 15:47] jdhines opened #36 "Changing a form input doesn't make the form touched or dirty"
I can't for the life of me figure out how to get this test to pass, even though it works from the running application.

I have a form which starts in pristine condition, and a save button which is disabled via:
`<button type="submit" [disabled]="myForm.invalid || myForm.pristine" (click)="openSaveConfirmation()" title="Save changes">Save</button>`

My test calls a setup function which just calls `

[2019-08-15 19:14] timdeschryver commented on #36
Did you import `fireEvent` from `@testing-library/angular`?

Because this would just fire the event without calling `detectChanges` (because it doesn't know on which component it has to detect changes).

In this library to be able to call `detectChanges`, we re-export the `fireEvent` events with the `render` function. These functions will call `detectChanges` on the text compontent.

[2019-08-15 19:45] jdhines commented on #36
I only saw examples on [the site](https://testing-library.com/docs/dom-testing-library/api-events) of using `fireEvent` (with an example specifically for input changes), so I didn't know to use `input` (or that it even existed).

I saw this:

But the documentation didn't mention what those events are, so I just assumed that `fireEvent,` being built in to `testing-library/angular` would automatical

[2019-08-15 19:45] #36 closed

[2019-08-16 12:27] timdeschryver commented on #36
Yes, unfortunately I didn't find the time to provide more info and examples in the docs.
Feel free to open a PR where you see fit, if you want. Help is more than welcome.

That's strange, it should work. I can't provide a good answer to explain what's happening here... I'll see if I can find an explanation  later.

[2019-08-26 11:38] GregOnNet opened #38 "[Request] expose detectChanges function"
## Before we start

🙏 Thank you for providing this library. It really helps my team to create solid maintainable tests.

## Description

The `render` function gives access of the `fixture` corresponding to the Component that is tested.
In many tests I find my self using fixture just to use `detectChanges`.
It would be nice to use `detectChanges` directly

[code]

## Benefit

If fixture is only use

[2019-08-26 15:36] timdeschryver commented on #38
The events are calling `detectChanges()` automatically, so you shouldn't have to.
Do you have a case where you do have to call `detectChanges`? If so, I would rather fix that problem, instead of exposing `detectChanges`.

[2019-08-27 04:05] GregOnNet commented on #38
Hi,

thanks for the quick reply.
I know about the fact that events calling `detectChanges`, which is great.
I added an example test to the description (see *Use Case*).

As far as I know there are cases where `detectChanges` needs to be called n-times if an event of the template triggers asynchronous operations that may be delayed due UX-reasons.

[2019-08-27 06:49] timdeschryver commented on #38
That makes sense.

If you want Greg, you can create a PR for this.

[2019-09-01 07:14] timdeschryver commented on #36
I've added more docs over at https://testing-library.com/docs/angular-testing-library/intro and examples in this repo at https://github.com/testing-library/angular-testing-library/tree/master/src/app/examples.

If there's anything missing feel free to create a new issue.

[2019-09-03 12:51] #38 closed

[2019-11-11 12:53] geromegrignon opened #55 "Usage with Storybook (Component Story Format)"
I'm trying to use new [Component Story Format](https://medium.com/storybookjs/component-story-format-66f4c32366df) of Storybook with Testing library.

The goal is to import a story as an ES6 module without having to redefine its context.

With this component:
[code]

I create 2 stories with Component Story Format to display two types of input.
[code]

With Testing Library, i would expect to be abl

[2019-11-11 13:21] timdeschryver commented on #55
The problem is that the API is different right?

I think you will have to do the following:

[code]

[2019-11-11 14:03] geromegrignon commented on #55
Thanks a lot, i was thinking to use this way too.

[2019-11-11 14:03] #55 closed

[2019-11-11 14:15] timdeschryver commented on #55
Awesome!

[2019-11-18 15:16] Wykks opened #56 "Change input after initial render"
Hi!

What's the correct way to change input after initial render ?
Because `componentProperties` only set input on the first render, but we cannot test subsequent input changes this way (which leads to subsequent calls to `ngOnChanges`).

For now, this works :
[code]

But accessing `fixture` is not recommended (https://testing-library.com/docs/angular-testing-library/api#fixture, and I agree with

[2019-11-19 17:42] timdeschryver commented on #56
Hi, thanks for the feedback!

When this lib was created I had the opinion that dynamic input change was a bad practice, but now that I read this issue I'm rethinking it.

What do you think the API should look like, something as the following?

[code]

Internally, we'll update the properties and run a CD cycle.

[2019-11-20 08:43] Wykks commented on #56
`rerender` seems a weird name for something that should "just" change inputs. But I get the idea 😄

Also, thinking more about it, although it would be useful when using a host/wrapper component; we would still need to manually call `ngOnChanges` afterwards.

Do you think it would be a bad idea to automatically call `ngOnChanges` here too (with generated`SimpleChanges` params) ? (also on `render` t

[2019-11-20 09:02] timdeschryver commented on #56
`rerender` is taken from the other testing libraries, to keep the API consistent.

We'll first do that, and see what we can do about `ngOnChanges` afterwards.

[2019-11-20 17:58] timdeschryver commented on #56
Are you interested in creating this feature @Wykks ?

[2019-11-27 12:40] cesalberca opened #58 "How can I debug rendering a component with many nested subcomponents?"
Hello! I'm trying to render a component that has many subcomponents, and some of those components have services being injected. I've gone through all the components and mocked all the dependencies.

[code]

However, I'm probably missing a subcomponent's dependency –although I've been looking like crazy– and I get this cryptic error:

[code]

I know the existence of the `debug` function for a compo

[2019-11-27 13:21] timdeschryver commented on #58
This might be an issue with the setup of the DI in this library.
Have you tried using the same setup with an Angular TestBed?

[2019-11-29 19:18] #56 closed

[2019-11-29 19:23] timdeschryver commented on #56
:tada: This issue has been resolved in version 8.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v8.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-27 03:32] tobiasbueschel opened #65 "Has anyone thought of creating protractor-testing-library?"
Hello 👋

**Background**
Thanks a lot for everyone's work with angular-testing-library! I've been using the `@testing-library` family on various projects and absolutely love the move towards not testing implementation details, but instead focusing on use cases and what the user actually cares about. It's been a bliss not having to change any tests if the underlying implementation changes.

Unfortun

[2020-02-27 07:28] Fellach opened #66 "EntryComponents and Ivy"
Hello,

I have updated Angular to v9.0.1, removed [deprecated](https://angular.io/guide/deprecations#entrycomponents-and-analyze_for_entry_components-no-longer-required) entryComponents properties from containing components which works fine in the browser. The issue pops up during the tests where I'm clicking the button to load a component dynamically. The lib throws the error shown below

[code]

[2020-02-27 13:12] timdeschryver commented on #66
Hi @Fellach thanks for creating this issue.
I haven't tested this with `entryComponents`.

[2020-02-27 13:36] tonivj5 opened #67 "getByLabelText returns an old reference in 9.0.0-beta.1"
Hi @timdeschryver, after a long time (~1 week) searching what was breaking my tests. I have discovered that the upgrade to beta release was the culprit.

It seems that getByLabelText is using an old reference of fixture the or nativeElement. I have created a repro where you can see the bug (it has cost a lot of hours to reproduce it :sweat_smile:)

[Repository with the test](https://github.com/ton

[2020-02-27 13:48] timdeschryver commented on #67
Thanks for taking a look and creating a repo!
If you want you can take a look at the code and make changes, I'll probably try to take a look at it during next week.

[2020-02-28 18:56] timdeschryver commented on #67
Closed by #68

[2020-02-28 18:56] #67 closed

[2020-02-28 19:11] timdeschryver commented on #67
:tada: This issue has been resolved in version 9.0.0-beta.2 :tada:

The release is available on:
- `npm package (@beta dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.0.0-beta.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-28 19:40] timdeschryver commented on #67
(version 9.0.0-beta.3 has also been released)

[2020-02-29 08:55] timdeschryver commented on #66
From what I can see, this isn't something we can fix.
A test written in Jasmine passes, but the same test with Jest fails.

@Fellach is this something you also see?

[2020-03-01 20:17] Fellach commented on #66
Hi @timdeschryver thanks for your replies.

Yes, it looks like it is Jest thing not you library. Luckily for me I found the solution, described [here](https://github.com/angular/angular-cli/issues/17110#issuecomment-592349783). All you need is to run a command: `ngcc --properties main` to transform all modules into Ivy versions

[2020-03-01 20:17] #66 closed

[2020-03-03 19:09] timdeschryver commented on #65
Hi @tobiasbueschel 👋
We're glad your enjoying test-library!

AFAIK there isn't a testing lib for protractor, nor the intention of creating it.
Perhaps that @kentcdodds knows if there's something in the making.

Personally, I haven't used protractor before so I'm not sure where to start here...
But that doesn't mean we shouldn't create it.

[2020-03-03 19:11] kentcdodds commented on #65
I don't know of anyone who's working on protractor for Testing Library (but that would be very cool).

[2020-03-20 22:32] tonivj5 opened #78 "How to test components with ng-content?"
Hey, I'm testing components that rely completely in `<ng-content>`.

Here is a component I want to test:
[code]

And I have written this test:
[code]

Could we improve the testing of `<ng-content>` using `angular-testing-library`? Or should I do in this way?

Thanks :+1:

[2020-03-21 13:23] timdeschryver commented on #78
Hi thanks for raising this issue, it's the first time!

I haven't tested this, but could you use the same approach as with directives? https://github.com/testing-library/angular-testing-library/blob/master/src/app/examples/08-directive.spec.ts

[2020-03-21 13:27] tonivj5 commented on #78
I'm going to try it rigth now! :+1:

[2020-03-21 13:45] tonivj5 commented on #78
It works :smile:! Thanks for the hint :muscle:

[code]

I guess I'm going to keep needing this line `TestBed.overrideComponent(TooLongCellComponent, { set: { selector: 'cell' } })`. Maybe render options could receive a `metadata: Component` to set `seletor`? It's my specific use-case, I don't add selectors to my dynamic-components (components that I create dynamically from `ngComponentOutlet` or `

[2020-03-24 18:18] timdeschryver commented on #78
I'm leaning towards leaving it as is, since this is a very specific use case, and this would add an extra option to the API.
I think this use case is worth documenting tho, do you want to create an example for this in the examples folder?

[2020-03-24 18:23] tonivj5 commented on #78
No matter, thanks for the time and the `template` option! :rocket:

I will create an example with my use-case :smile_cat:

[2020-03-25 17:17] williamkwao opened #81 "Minimum Angular version"
What is the minimum angular version required to use this library?

[2020-03-26 12:23] timdeschryver commented on #81
Hi, the versions are coherent to the Angular versions.

- v9 is for Angular 9
- v8 is for Angular 8
- v7 could be used for the other versions if I'm not mistaken

If you encounter any problems, feel free to open an issue.

[2020-03-26 12:23] #81 closed

[2020-03-26 13:09] tonivj5 commented on #78
I have created a PR to add the use-case https://github.com/testing-library/angular-testing-library/pull/82

[2020-03-28 05:59] dereklin opened #83 "[First Time User] testing.TestBed.inject is not a function"
I am trying to understand how this library works.

My code looks like:

[code]

I get:

[code]

Could you point out my mistakes in the code?

[2020-03-28 11:38] timdeschryver commented on #83
Hey @dereklin , what version of Angular and Testing Library are you using?

[2020-03-28 14:22] dereklin commented on #83
@timdeschryver Thanks for the hint!  I am using angular 8x.  Using @testing-library/angular@8.2.0 solves my problem.  I really like when the test fails, I get to see the html template along with the error.  That is so helpful!

Do you know if there is an even easier way for me to set up my test, like not having to create the TestComponent?

[2020-03-28 14:22] #83 closed

[2020-03-28 21:58] timdeschryver commented on #83
Awesome, glad we could resolve this quickly :)

I think the following example is what you're looking for
https://github.com/testing-library/angular-testing-library/blob/master/src/app/examples/02-input-output.spec.ts

[2020-03-29 14:22] #78 closed

[2020-03-30 06:59] timdeschryver commented on #58
Closing due to inactivity, feel free to open a new issue.

[2020-03-30 06:59] #58 closed

[2020-03-30 08:39] georgy99 opened #86 "FontAwesome: Could not find icon with iconName=plus and prefix=fas. This warning will become a hard error in 0.6.0."
I use FontAwesome into my application, that in constructor import a library:

[code]

when i do test with angular testing library
[code]
the test write this message
FontAwesome: Could not find icon with iconName=plus and prefix=fas. This warning will become a hard error in 0.6.0.

Someone can help me?  please

[2020-03-30 18:45] timdeschryver commented on #86
`TestBed.configureTestingModule` should not be needed, this is done by the `render` method.
You might want to add `schemas` to the configuration of `render`.

Have you tried adding the import to `CoreModule` in the `render` method?

[2020-03-31 08:22] georgy99 commented on #86
ok, i try to do, but the problem continued.

[code]

[2020-03-31 08:57] georgy99 commented on #86
ok i resolve!!
i create a new ```module``` only for the icon a then import this into my render ```method```

[code]
[code]

[2020-03-31 12:30] #86 closed

[2020-04-01 06:05] timdeschryver commented on #86
Glad you got it resolved @georgy99

[2020-04-02 21:13] timdeschryver commented on #78
:tada: This issue has been resolved in version 9.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-05 09:46] geromegrignon opened #87 "[BUG] "export 'render' was not found in '@testing-library/angular'"
## Bug report

On a newly angular 9.1 project, i added testing-library/angular and a counter component as provided into the official [example](https://testing-library.com/docs/angular-testing-library/examples);

When launching `ng test`, i have the following error :
[code]

## Steps to reproduce

- `ng new`
- `npm install --dev @testing-library/angular`
- `ng g c counter`
- add content from offici

[2020-04-05 17:00] timdeschryver commented on #87
Oh shoot! I broke it for the `jasmine/karma` setup 😅
For now, you should be able to use `v9.0.0`.

I will try to get this resolved ASAP.

[2020-04-09 11:02] #87 closed

[2020-04-09 11:07] timdeschryver commented on #87
:tada: This issue has been resolved in version 9.1.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-09 11:17] timdeschryver commented on #87
@geromegrignon Can you try again with version 9.1.1 please?

[2020-04-13 17:38] joerter opened #90 "Template Driven Forms"
Has anyone experienced issues with angular testing library and template driven forms? I'm seeing some behavior where it seems like form elements using ng-model are not updating. If not, I can try and reproduce what I'm seeing.

[2020-04-14 05:39] timdeschryver commented on #90
Hi @joerter , I haven't yet seen an issue with template driven forms.
In all fairness, I'm not using template driven forms, so this will probably be a bug.

It would be helpful if you could create a reproduction for us.

[2020-04-14 11:58] joerter commented on #90
Thanks @timdeschryver! I will see if I can reproduce the issue.

[2020-04-14 18:09] timdeschryver commented on #90
Fyi, if you want you can create the reproduction in this repository (https://github.com/testing-library/angular-testing-library/tree/master/src/app/examples) so that we have an example (and a regression test for in the future).

Don't feel obligated to do it tho, but if you do you will first have to build the testing library with `npm run build`, to test the app run `npm run test:app`

[2020-04-15 18:03] joerter commented on #90
Thanks! I tried to reproduce it, but things are working as they should in the template driven version of the forms example I made. I'll close this and reopen it if needed.

[2020-04-15 18:03] #90 closed

[2020-04-15 18:25] timdeschryver commented on #90
Ok thanks for the update @joerter !
Don't hesitate to reopen if needed.

[2020-04-16 09:24] skolldev opened #91 "Testing navigation with query params"
Hi,

Versions:
[code]

I'm trying to test a component that has behaviour based on its query params.
I have my routing configuration:
[code]

Then, in the test im trying to navigate to it with a query param:
[code]
However, I'm getting the following error:
`Cannot match any routes. URL Segment: 'register%3Ftoken%3Dabc'`

Is there a better way to test it? Or am I getting something wrong?

[2020-04-16 12:01] timdeschryver commented on #91
Hi @skolldev, could it be that there's a missing base path?
See https://github.com/testing-library/angular-testing-library/blob/master/src/app/examples/09-router.spec.ts#L76-L79 for an example.
I will also try to test it with a query param later today/tomorrow

[2020-04-16 14:14] timdeschryver commented on #91
I was able to reproduce it in the example apps, will try to provide a fix for this ASAP. Thanks for creating the issue

[2020-04-16 16:12] sjbuysse opened #94 "Pass entrycomponents to the render function"
versions
[code]

It is not possible at this time to pass an `entrycomponents` array to the `renderOptions` when rendering a component. So it is not possible to test UI components that are dynamically created.

[2020-04-16 18:20] timdeschryver commented on #94
Hi, AFAIK this also not possible with the Angular TestBed.
As a work around you can create a module, with the entry component, and import that module in the tests.

[2020-04-17 06:25] skolldev commented on #91
Wow Tim, that was super quick! Thanks for your help :)

[2020-04-17 06:56] #91 closed

[2020-04-17 07:01] timdeschryver commented on #91
:tada: This issue has been resolved in version 9.2.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-17 09:34] sjbuysse commented on #94
I guess you're right!

[2020-04-17 09:34] #94 closed

[2020-04-17 09:42] sjbuysse opened #95 "waitFor not picking up DOM changes from pipeline with `debounceTime`"
Hi,

I made this simple example component, to demonstrate the issue:

[code]

In my test I use the `waitFor` function to see if a result shows up, but it does not.
The `console.log` in the pipeline is triggered though. But it's as if the re-rendering does not happen.
This test passes if I leave out the `debounceTime` pipe.

[code]

[2020-04-18 11:16] timdeschryver commented on #95
Hi, thanks for bringing this up @sjbuysse - I forgot to add this.

[2020-04-18 11:40] #95 closed

[2020-04-18 11:44] timdeschryver commented on #95
:tada: This issue has been resolved in version 9.2.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-18 22:01] sjbuysse commented on #95
Thanks @timdeschryver !

[2020-04-19 14:39] chadtomkiss-madetech opened #97 "fixture.DebugElement is null"
Hey,

When trying to render a component, I am getting:

[code]

This is triggered here:

https://github.com/testing-library/angular-testing-library/blob/89319df8ba8172bb3ff6131534f0cb5b417d1184/projects/testing-library/src/lib/testing-library.ts#L179

Any ideas on why this would be null?

[2020-04-19 15:20] timdeschryver commented on #97
Can you share some code, or a reproduction please?

[2020-04-19 16:24] chadtomkiss-madetech commented on #97
[code]

[2020-04-19 16:32] chadtomkiss-madetech commented on #97
For some reason there's an `enableProdMode()` in our `app.component.ts` which I think might be what is nulling out `debugElement`.

[2020-04-19 16:36] timdeschryver commented on #97
Hmmm, that could be the cause. Have you tried removing it?

[2020-04-19 16:50] chadtomkiss-madetech commented on #97
This is exactly the problem 🤦

Thanks for such a quick reply on the weekend <3

[2020-04-19 16:50] #97 closed

[2020-05-13 19:20] bovandersteene opened #98 "Provide mocks for components or declarations"
Today we have the `provideMock` and `createMock` functionality that we can use for providers.
Is there a thought or a possibility to create something simular for components and declarations.

you can use it like

[code]

Maybe something already exist in the library. If not I can create a PR for it.

[2020-05-13 19:32] tonivj5 commented on #98
Why not use [ng-mocks](https://github.com/ike18t/ng-mocks#readme)? I think it does that you want.

Sorry, if I have misunderstood you :sweat_smile:

[2020-05-14 07:21] timdeschryver commented on #98
I haven't used mocks for components before.
What would be the benefit of using these @bovandersteene ?
I got the feeling that using the "real" components are components in these tests, but I could be wrong.

Also, wouldn't `NO_ERRORS_SCHEMA` work here?

[2020-05-14 17:03] crutchcorn opened #103 "When using `user.click` in `@testing-library/angular`, an error is thrown"
I have the following test written to test a pagination component:

[code]

With one of the buttons being formed like this:

[code]

(With the translate pipe coming from `ngx-translate`)

However, when I run the tests, I get the following error.

[code]

However, if I switch from `user.click` to `fireEvent` from `@testing-library/angular`, I get no such error and the tests pass

[2020-05-16 20:21] raisiqueira opened #99 "Test failed when simulate click event on a input with FormControl"
I'm implementing a Angular directive test with Testing Library (`@testing-library/angular`) and i have some problems, one that, i'm not able to simulate the click event:

`mask.spec.ts`

[code]

I know when we trigger the `click` *fn* the `detectChange` is called, but the test always fail.

What's wrong with this test logic?

[2020-05-19 17:24] timdeschryver commented on #99
`click` doesn't mark the control as touched.
From the angular docs:

This can be done as:

[code]

[2020-05-19 17:24] #99 closed

[2020-05-25 07:00] bovandersteene commented on #98
@timdeschryver, indeed most of the time `NO_ERRORS_SCHEMA`will work. But sometimes you want to test if a function is initiated due to the ViewChildren, or something similar

[2020-05-25 15:43] miluoshi commented on #56
`ngOnChanges` could be called automatically both on the first render and on `rerender` if a component implements it. Could we implement this into the library?

See this pseudo-code:

[code]

[2020-05-25 16:29] timdeschryver commented on #98
If ng-mocks works, I would rather not include extra code to support it in this code base.
We mention ng-mocks somewhere as it might help other devs 🙂

[2020-05-29 14:39] krokofant opened #100 "Add support for entryComponents"
I've seen the earlier issues about entryComponents #94 #66  but not being able to put these in presents a real issue when testing via Jest.

Judging from the earlier issues it seemed impossible to support with jest-angular but there is a workaround listed here https://github.com/thymikee/jest-preset-angular/issues/353

So with the TestBed it would look like this:
[code]

How can we add this to _an

[2020-05-31 11:47] krokofant commented on #100
@timdeschryver I'm using the Ivy engine. I'm not sure which ngcc magic to apply but I've tried quite a few combinations and it seems very hard to make it work predictably. The workaround for specifying entryComponents work consistently though.

I'm using [nx](https://github.com/nrwl/nx) which by standard executes this postinstall command:
[code]

To me it seems much easier working around the jest

[2020-05-31 13:22] krokofant commented on #100
Reading a bunch of other issues it does seem like Ivy was not enabled even though ngcc was compiled with those nx default arguments I mentioned.

Just running ngcc with `--properties main` would produce an error also mentioned on the transloco repo. Someone there mentioned, without any specific issue reference to angular/cli, that the newer angular cli compiler packages has some issue. So pinning

[2020-05-31 13:22] #100 closed

[2020-06-01 08:08] timdeschryver commented on #100
What about adding a note to the docs?
If that doesn't help, we can revisit and provide this functionality to the library.

[2020-06-01 11:32] portothree opened #102 "Testing action dispatched in ngOnInit"
I have a page that dispatch a action to load 'devices' on ngOnInit, but I cant access it within my tests. store.dispatch number of calls remains 0. I'm wrong for trying to test ngOnInit?

`devices..component.ts`
[code]
`devices.spec.ts`
[code]

[2020-06-02 06:11] timdeschryver commented on #103
Thanks @kentcdodds! I was thinking about providing this setup in user-event, but it's better to do so in Dom Testing Library. I will try to add it here later.

In the next major version we can then remove the custom user event actions from ATL 🎉.

[2020-06-02 07:42] timdeschryver commented on #102
Hi, this is probably due to the fact that the component is already initialized before setting the dispatch method to be a spy.

Mockstore also has a `scannedActions$` property that contains all the dispatched actions.
I think this could be used for this case, see https://github.com/ngrx/platform/blob/da1a0c04f2c51343e97ed7b14d0400d66ea4c654/modules/store/testing/spec/mock_store.spec.ts#L96 for an

[2020-06-02 14:53] timdeschryver commented on #56
@miluoshi do you want to create a PR for this?

[2020-06-03 10:59] portothree commented on #102
Thanks @timdeschryver, I was able to test with`scannedActions$`.

[2020-06-03 10:59] #102 closed

[2020-06-06 11:33] #103 closed

[2020-06-06 11:40] timdeschryver commented on #103
:tada: This issue has been resolved in version 9.3.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-10 13:32] sjbuysse opened #106 "component does not re-render when async pipe is triggered"
[code]

Hi,
I made a project with nothing in it except this example component, to demonstrate the issue:

[code]

In my test I use the `waitFor` function to see if the hidden div shows after toggling the Observable value to `true`, but it does not.
The `console.log` in the pipeline is triggered though. But it's as if the re-rendering does not happen.
[code]

[2020-06-10 13:37] eric-hoose opened #107 "Two of the example tests are failing"
I pulled master from this repo in order to run the tests from the examples to see how they worked, and two of them errored out (the rest of them pass). Not sure if it's a me issue or an actual issue. I'm running Node v12

First failure: `src/app/examples/03-forms.spec.ts`

![image](https://user-images.githubusercontent.com/60657011/84274241-9dda5200-aafd-11ea-9b7a-c3f51960115b.png)

And the second

[2020-06-10 17:44] #106 closed, assigned to nobody

[2020-06-13 23:44] eric-hoose commented on #107
Using npm, I tried, `npm i`, `npm run build`, and `npm run test:app` and got the same result

[2020-06-16 08:52] sjbuysse commented on #106
Thanks for the insight @timdeschryver !

[2020-06-16 18:11] timdeschryver commented on #107
I guess this will probably be a version mismatch somewhere.
I'm not going to look into it as it's currently working fine with the yarn lock file (I hope this will resolve itself with the next major version), feel free to take a look and resolve it with npm.

[2020-06-18 17:35] eric-hoose commented on #107
Just in case anyone else stumbles across the issue, it appears that the tests in the example folder only run with yarn, as the yarn-lock probably has the correct dependencies that the package.json is missing somewhere.

[2020-06-18 17:35] #107 closed

[2020-06-19 07:34] miluoshi commented on #56
Sure, here it is 🙂
https://github.com/testing-library/angular-testing-library/pull/110

[2020-06-20 15:28] timdeschryver commented on #56
:tada: This issue has been resolved in version 9.4.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-20 15:28] timdeschryver commented on #106
:tada: This issue has been resolved in version 9.4.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v9.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-24 22:28] krokofant opened #117 "@testing-library/user-event dependency looks older than intended"
I'm looking to use the updated @testing-library/user-event type() command which supports [special characters](https://github.com/testing-library/user-event#special-characters) like `{backspace}`.

I see that [since the 9.3.0 version](https://github.com/testing-library/angular-testing-library/commit/aa5f8911c9102d364dae49a838b2444d245faada#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R33) of angular-testin

[2020-06-25 06:08] timdeschryver commented on #117
Hi, what you're seeing it the package.json for this repository. The user event is upgraded here, to use it in the examples.

The actual package.json that is packaged can be found [in the projects](https://github.com/testing-library/angular-testing-library/blob/master/projects/testing-library/package.json#L33). I didn't upgrade user event here.

The exported userEvent from Angular Testing Library,

[2020-06-25 16:36] #117 closed

[2020-07-08 17:28] NeekSandhu opened #122 "Make `@testing-library/dom` a peer dependency instead"
`@testing-library/angular` provides queries straight from `@testing-library/dom` except that it's always a locked version. Meaning that one cannot receive any bug fixes and enhancements related to queries without also updating both `@testing-library/angular` and `@angular/core` itself.

People who are on Angular 8, for example cannot have these critical fixes without upgrading to Angular 9 at the

[2020-07-08 18:47] timdeschryver commented on #122
I'm hesitant to do this, because consumers will have to install both packages.
You do make a good point tho.

What about the following options:

- What about making Angular a peer dependency
- We could release a new version with the latest DOM package and Angular 8

[2020-07-09 10:03] ali-kamalizade-leanix opened #123 "Simulating Output events with Testing Library"
First off, I'm really happy with the Testing Library for Angular: UI tests are now much easier to write!

I have just one question regarding Outputs. I want to simulate an Output of a child component since it's hard to test with Jest & jsdom (infinite scrolling to be exact).

How do I do that with Testing Library?

With Angular testing API I'd do it like this:
`fixture.debugElement.query(By.css('.

[2020-07-09 10:41] miluoshi commented on #123
I'm not sure if I understand your use case correctly, but I don't think you can do this with testing-library alone for nested child component.
You can use `ng-mocks` to mock child component with [MockComponent](https://github.com/ike18t/ng-mocks#mockcomponents) and then emit output event from the mocked element (see example usage in the docs)

[2020-07-09 10:53] ali-kamalizade-leanix commented on #123
My use case: the functionality I want to test is hard to test with jsdom so I just want to simulate the Output
I thought Testing Library for Angular might have a wrapper for `triggerEventHandler` but I can also live without it and use the Angular Testing API for these few cases.

[2020-07-09 12:18] timdeschryver commented on #122
The other packages use a peer dependency to the framework, so I guess we should do that.

[2020-07-10 09:32] NeekSandhu commented on #122
Unless this package relies on specific angular API's (like `ngZone` for example), which might not be always interoperable across different versions which will force this package to only work with limited versions of angular at a time. Although we can write an adaptor for the API's required by this package which can interoperate calls across versions. This way any version of this library can suppor

[2020-07-10 09:34] NeekSandhu commented on #122
And this doesn't scale up very well. I mean how far can one stretch things like this.

[2020-07-10 18:03] timdeschryver commented on #122
Oh we're already having Angular as a peer dependency 😅.

Correct, this would only be done for the previous version of Angular and when the change has a big impact.

I think you should be able to run ATL v10 with Angular 9.
Have you tried it?

[2020-07-10 18:05] timdeschryver commented on #123
Have you tried using the `fireEvent.scroll` method?

[2020-07-10 18:15] NeekSandhu commented on #122
... which will force this package to only work with limited versions of angular at a time

We're on Angular 8 with no immediate plans to upgrade.

[2020-07-10 18:18] timdeschryver commented on #122
But have you tried using this package latest version with Angular 8?

[2020-07-14 10:56] timdeschryver commented on #122
AFAIK, version 10 of this package should be compatible with earlier versions of Angular.
Is it the recommended way? No, but should work.

[2020-07-16 07:49] ali-kamalizade-leanix commented on #123
I did try that function and using `async` (the Angular one, not the native, however I couldn't get it to work with [ngx-infininite-scroll](https://github.com/orizens/ngx-infinite-scroll).

At least before using Testing Library we used mocking of output events heavily. With Testing Library I try to avoid it which works great most of the time! But there are very few cases where I can't test it with

[2020-07-16 11:24] timdeschryver commented on #123
I forgot to post it here, but I also tried scrolling at [examples/13-scrolling.component.spec.ts](https://github.com/testing-library/angular-testing-library/blob/master/apps/example-app/app/examples/13-scrolling.component.spec.ts). I could only make it work by setting the `scrollTop` manually...

[2020-07-16 11:28] ali-kamalizade-leanix commented on #123
Thanks for the suggestion, I'll try this out as well.

[2020-07-20 15:26] #123 closed

[2020-07-23 01:29] NeekSandhu commented on #122
No mate it doesn't work:

![image](https://user-images.githubusercontent.com/11316020/88244644-488b7780-cc49-11ea-92ad-6f233833389f.png)

[code]

[2020-07-24 19:15] arturohernandez10 opened #127 "test id findBy not working"
Great library!!! It's making a big difference on our project! Somehow, I am getting this error. As you can see by the full error text. The data-testid is there. This test was previously working but it broke in a merge. I realize this may be an issue with the underlying TestingLibrary code. But I wanted to post it here first.

[code]

[2020-07-24 20:06] arturohernandez10 commented on #127
After some troubleshooting. The true issue is that findByTestId for a different id. Is finding two distinct matches where there is just one. One of them is the current displayed HTMLElement and the other is the old (replaced) HTMLElement. I switched the code to getAllByTestId so I could see the matches. And navigating the parents they show the exact same tree, but with a few class mutations, one b

[2020-07-24 20:18] timdeschryver commented on #127
Hi, glad to hear that.
It would be easier to find the cause (and the solution) if you would have a reproduction.
Would it be possible to create one?

[2020-07-25 20:36] timdeschryver opened #128 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-07-26 02:59] nickmccurdy commented on #128
Strange, this change looks valid to me: https://github.com/testing-library/angular-testing-library/commit/d0b3a8880b7a252bdd56e6b72e209f444e423788#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

Is it an issue with nx?

[2020-07-26 06:23] timdeschryver commented on #128
I'll have to investigate 👀
The CI says:

[code]

[2020-07-26 06:40] nickmccurdy commented on #128
The error doesn't make sense to me, we still have a `package.json` and the JSON change is valid.

[2020-07-26 06:49] timdeschryver commented on #128
Yea, but NX caches the build.
From what I can see it doesn't restore it correctly, you can see the artifact at https://circleci.com/gh/testing-library/angular-testing-library/1449#artifacts/containers/0.
It doesn't have the @testing-library dist folder, which should be there to release it.

[2020-07-26 07:03] #128 closed

[2020-07-26 07:07] timdeschryver opened #130 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-07-26 07:54] #130 closed

[2020-07-27 07:06] #122 closed

[2020-07-27 07:12] timdeschryver commented on #128
:tada: This issue has been resolved in version 10.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v10.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-27 07:12] timdeschryver commented on #122
:tada: This issue has been resolved in version 10.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/angular-testing-library/releases/tag/v10.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-27 10:54] timdeschryver commented on #122
@NeekSandhu that problem should be resolved in v10.0.1

[2020-07-27 14:18] arturohernandez10 commented on #127
I'll try, it's deep in the code. At least you have not heard of this happening before.

[2020-07-27 14:28] arturohernandez10 commented on #127
It may be easier if I debug this myself. Do you have any suggestions on what or where to look?

[2020-07-27 20:11] NeekSandhu commented on #122
@timdeschryver works great! however, there are some peer dep warnings that can be addressed because it's now functional with angular 8 as well:

[code]

[2020-07-28 06:40] timdeschryver commented on #127
To be honest, I have no idea what the issue is.
When you're using your app, have you seen the DOM? Does it render both elements?

[2020-08-04 16:07] arturohernandez10 commented on #127
It does not. While troubleshooting. I replaced the `findByTestId` for `findAllByTestId`, and added a breakpoint in chrome. Then in the console I typed both elements and the markup shows right there. It was identical, the particularly confusing bit was that the angular reflection adds Ids that were the same. So I started adding `.parent` at the end of both so I could see where it was coming from. E

[2020-08-06 15:56] #98 closed

[2020-08-07 18:56] timdeschryver commented on #122
I would like to keep it this way.
It's supported to be used in earlier versions, but it isn't recommended.

[2020-08-21 15:20] christianacca opened #134 "When to use screen object or component returned by renderPage"
Prior to version 10 of this library, all the examples used the `component` returned by `render` method. Now the examples use the `screen` object.

Both `screen` and `component` share the same method names. **Questions**:

1. for the methods named the same on both objects, is there any functional difference between the them?
2. is it best practice to use `screen` where possible rather than `compone

[2020-08-21 16:37] #134 closed, assigned to nobody

[2020-08-24 16:35] cjhaviland opened #135 "Cannot getByRole for routerLink"
**Background**
I've been trying to do a query by role to check a link on my page using: `screen.getByRole('link', { name: /contact/i })`. This keeps throwing an error as if the the element is undefined.

**Debugging**
Inspecting my element shows it as
[code]

I tried debugging while running tests by using `queryAllByRole(component.fixture.nativeElement, 'navigation)` to print out the DOM element a

[2020-08-24 17:07] timdeschryver commented on #135
It seems link the `li` is the culprit here.
I use and recommend the testing playground [playground link](https://testing-playground.com/gist/4d27e9acd5ea6c2c6bb43ff8d0c4cbc8/97986d988b937e0dda734379d93801caca8a1f98) to find the correct queries.

[2020-08-24 18:06] cjhaviland commented on #135
There is no `li` in my HTML structure. The full breakdown is basically:

[code]

There is an `<i>` tag inside of the anchor tag for an icon though.

[2020-08-24 18:12] timdeschryver commented on #135
Oh sorry... you're right, I meant `i` tag.

[2020-08-24 19:20] timdeschryver commented on #135
@cjhaviland it should work if you close the `i` tag:

[code]

[2020-08-29 10:43] #135 closed

[2020-09-12 23:17] rainerhahnekamp opened #139 "Example tests not working"
I just cloned the git repo and tried to run the example tests locally.

Run following commands:
[code]

All tests fail. That's what I get for the first one and more or less the same for the rest.
[code]

[2020-09-13 07:45] timdeschryver commented on #139
Hey, thanks! I don't know what happened but I also had this experience while working on a new cloned version of this repo. I'm working on a fix in #138

[2020-09-17 13:54] knagurski opened #140 "REQUEST: Example of how to component projection with `ng-content`"
I'm not to using the project, but really love how it has simplified my tests so far. I was hoping to get an example of how to write a test for testing component projection with `ng-content`.

Component I want to test
[code]

I would love to see an example of how I can test this with Angular testing library and verify that I can pass another component in and have it projected.

[2020-09-18 08:24] portothree commented on #140
There's an example of using `ng-content` here [[component](https://github.com/testing-library/angular-testing-library/blob/master/apps/example-app/app/examples/11-ng-content.ts), [spec](https://github.com/testing-library/angular-testing-library/blob/master/apps/example-app/app/examples/11-ng-content.spec.ts)]

[2020-09-18 10:58] timdeschryver commented on #140
Thanks for answering this one @portothree .

@knagurski is this isn't sufficient feel fee to re-open this issue with more information.

[2020-09-18 10:58] #140 closed

[2020-09-18 12:40] knagurski commented on #140
Would be great to expand the example with projecting another component instead of just text.

@portothree thanks for pointing each in the right direction 👍

[2020-09-24 15:45] cjcoops opened #141 "Recommended best practice for testing services without a component"
Firstly thanks for the library it looks great! I'm just looking into whether Angular Testing Library would work for our team.

I totally agree that we should be avoiding testing implementation details where possible, but we often have quite complex logic in services and sometimes there is the need to test a service (or multiple services together) without including the component, and for this situa

[2020-09-24 18:08] timdeschryver commented on #141
Hi @cjcoops , I'm happy to hear that.

Like you mentioned yourself, we focus on making component tests easier, better, and maintainable.

I haven't thought of making testing services a part of this library, because I didn't have the need for it.
Most of the service tests don't require a `TestBed, and I just instantiate them directly, e.g. `new ServiceUnderTest()` or with dependencies as `new Servi

[2020-09-24 18:40] cjhaviland commented on #135
Hey, sorry this is a month later, but I just made some changes to my configuration and tests and it seems I either broke stuff, or just wasn't testing if elements were in the Document in the first place... Pretty much any getByRole() isn't working in my Angular project. I've tried using `component.getRoleBy('...')`, `screen.getRoleBy('...')`, `findRoleBy()` and none of them work, but the debugged

[2020-09-24 20:49] cjcoops commented on #141
Thanks @timdeschryver . I have experience with Spectator so I know it does the job, I just prefer the API of Testing Library and being able to avoid sharing state between tests.

Will definitely consider whether testing services without TestBed will work though!

[2020-09-24 20:49] #141 closed

[2020-09-25 06:19] timdeschryver commented on #141
FWIW, this isn't set it stone.
If I see more questions around this, we could integrate it in this API.

[2020-09-26 06:16] timdeschryver commented on #139
That PR is now merged, feel free to try again and if it fails you can reopen this issue.

[2020-09-26 06:16] #139 closed

[2020-10-05 10:15] krokofant opened #142 "Update @phenomnomnominal/tsquery to 4.1.1 to support TypeScript 4"
Currently with TypeScript 4 you get this warning:

The root package.json has previously been updated to @phenomnomnominal/tsquery 4.1 but the testing-library one was left on 3.0

[2020-10-07 12:35] timdeschryver commented on #142
Closed by #143

[2020-10-07 12:35] #142 closed

[2020-10-07 12:42] github-actions[bot] opened #145 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-10-07 12:57] #145 closed

[2020-10-09 09:38] ChristophWalter opened #146 "Set initial route before rendering a component"
## Use Case
There is a component which uses route params during initialisation.
[code]

## Problem
I could not find a way to set the initial route before the component gets initialised. This results in calling the exampleService with the wrong parameter.

## Workaround
The behaviour can be achieved using the default angular TestBed.
[code]

## Solution
We might introduce a callback method to modif

[2020-10-09 10:37] timdeschryver commented on #146
Hi, I'm not sure if it will work but have you tried the following?

[code]

[2020-10-09 11:28] ChristophWalter commented on #146
Awesome, thank you! 🥳

Here is the working solution for anyone else:
[code]

[2020-10-09 11:28] #146 closed

[2020-10-14 06:53] Ombrax opened #147 "Custom find-queries are lost when put through 'replaceFindWithFindAndDetectChanges' (>=v9.1.0)"
Starting from v9.1.0, the queries passed to the `render` function are first run through `replaceFindWithFindAndDetectChanges` to trigger a change detection cycle when using the find-queries. When looking at the code it seems the queries are properly iterated, but the `getQueryBy` is assigned from the `dtlQueries`, not the queries passed as argument (`originalQueriesForContainer`). This means that

[2020-10-14 10:15] timdeschryver commented on #147
I think you're right @Ombrax , do you want to create a Pull Request for this?

[2020-10-15 06:35] github-actions[bot] opened #150 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-10-15 06:36] timdeschryver commented on #147
Closed by #148

[2020-10-15 06:36] #147 closed

[2020-10-15 06:48] #150 closed

[2020-10-25 21:51] dev054 opened #152 "Documentation/Examples request"
I just started using this lib (btw thanks for it, it's awesome) and I'm trying to figure out what's the best way to test these kinds:

- Pipes;
- Interceptors;
- Guards.

It'd be great to have some examples for it in https://github.com/testing-library/angular-testing-library/tree/master/apps/example-app/app/examples.

[2020-10-29 16:23] timdeschryver commented on #152
Hi, it's nice to hear that you find that it's awesome.

Angular Testing Library is aimed to test your component, we don't have features to unit test the mentioned "kinds".

From my experience, I don't think that we need something extra to test pipes, interceptors, and guards.
These are perfectly testable as is (and you probably don't need the TestBed).

Pipes: https://angular.io/guide/testing-pipe

[2020-10-30 03:42] ReshmiCode opened #153 "Router Example Expansion"
I just came across this library, I used the original for a React project and I'm trying to expand it to our Angular project! I'm having some issues testing routing. Could the current routing example be expanded to show how to check if the href has been navigated too? I tried following a bunch of examples from other sources but they did not work.

Currently, in my render function for the test I add

[2020-10-30 18:22] timdeschryver commented on #153
Thanks for creating this issue @ReshmiCode.
I think you just found a bug 😅

[2020-10-30 18:41] timdeschryver commented on #152
If you would like to see this in ATL @dev054 , how would you expect the API to look like?

[2020-10-30 18:55] #153 closed

[2020-10-30 18:58] timdeschryver commented on #153
@ReshmiCode the latest release should fix this, if that's not the case feel free to re-open this issue.

[2020-11-04 18:06] ReshmiCode opened #155 "Component Variables are Undefined"
On a test for a form, the variables for a component in an expected API call are undefined. In the test I type into the field using fireEvent.change and I know it's working as queryByDisplayValue returns the value entered into the field. But when I run expect(loginSpy).toBeCalledWith it fails as it is called with { email:undefined } instead.
Class addition:
`export class LoginComponent {
  email: s

[2020-11-04 18:21] timdeschryver commented on #155
Hi @ReshmiCode it's unclear to me what the problem is because I don't see all of the code.
Can you create a reproduction of the issue?

[2020-11-04 19:30] rafaelss95 opened #157 "Usage of rerender with OnPush ChangeDetection"
Hey, thanks for this lib :)

So, I'm facing an issue right now that when calling `rerender` function with component that uses `OnPush` doesn't cause component to change the properties. Here's an example:

[code]

<hr>

All the tests above fail when using `OnPush`, but if I remove this, all pass.

[2020-11-04 22:01] timdeschryver commented on #157
Thanks for creating this issue @rafaelss95
This seems like we'll need to trigger a change detection cycle.

If you want you can take a look yourself and create a pull request with the fix.

[2020-11-05 15:29] rafaelss95 opened #159 "findByRole not working properly after element is present in DOM"
I have a markup that some elements visibility depends on a condition. Something like this:

[code]

So, the fields `holder`, `expiry` and `cvv` are visible once `number` is valid, but the tests keep failing. I noticed that if I query it again, using `getByRole(...)` to check if it's present in document, it works, but shouldn't `findByRole(...)` works in this case?

[2020-11-05 17:12] ReshmiCode commented on #155
@timdeschryver I've recreated it here: https://github.com/ReshmiCode/Todo-List/pull/1

[2020-11-05 17:58] #157 closed

[2020-11-05 18:03] timdeschryver commented on #159
`findByRole` should work.
I think it has similar problems as you just fixed in #158
My guess is that you can make a similar change [here](https://github.com/testing-library/angular-testing-library/blob/master/projects/testing-library/src/lib/testing-library.ts#L345)

Do you want to create a Pull Request? 🙂

[2020-11-05 21:08] timdeschryver commented on #155
@ReshmiCode for the two way binding to work you should use `input`.

[code]

I would also like to recommend [`user-event`](https://testing-library.com/docs/ecosystem-user-event) to simulate events:

[code]

[2020-11-05 21:09] #155 closed

[2020-11-05 22:13] rafaelss95 commented on #159
Hey Tim,

I made the modification as you pointed but that still makes the test fail. I'm supposing that's maybe a "limitation" of `findBy*`.

What I did for now is to use `queryBy*` when I'm certain that it doesn't exists and when I'm certain that the element exists, I use `getBy*`, but I'm not sure about this, because it seems like I'm writing more duplicating the queries(selectors).

[2020-11-05 22:28] rafaelss95 opened #161 "Some suggestions for examples"
- Replace `fireEvent.blur(htmlElement)` by `htmlElement.blur()` (https://testing-library.com/docs/guide-events/#focusblur);
- Replace `findBy*`/`getBy*`/`queryBy*` by `screen.*`;
- Add more examples in forms (mainly in material version):
  - Tests using `mat-error` for each  `form-field` instead of a block of errors;
  - Tests with form-friendly components, like `checkbox`, `datepicker`, `chips`,

[2020-11-06 00:00] rafaelss95 opened #162 "Usage of toHaveFormValues with reactive forms without name attribute"
Generally when we use reactive forms, we specify `formControlName`, but not `name`. Would be possible to override `toHaveFormValues` in order to avoid specify `name` for every form field?

[2020-11-06 06:27] timdeschryver commented on #162
I'm not sure...
I would say not to override it, since it's part of [`jest-dom`](https://github.com/testing-library/jest-dom#tohaveformvalues).

We could create a new matcher in our [jest-utils](https://github.com/testing-library/angular-testing-library/tree/master/projects/jest-utils) package.
Do you think think the implementation would be an easy one?
I also don't know how this reacts to nested/d

[2020-11-06 06:38] timdeschryver commented on #159
It could be that I misread the original issue.

- `queryBy` does return the element when it's there or `null` when it isn't in the DOM
- `getBy` throws immediately when the element isn't there
 - `findBy` does also throw but it tries a few times to find the element (and invokes the change detection with every try)

My advice is to use `findBy` when you expect an element, and `queryBy` to verify an

[2020-11-06 06:41] timdeschryver commented on #161
Thanks for the suggestions, we would love to have these!
Also, TIL for the `blur`. I do think we'll have to test it out for ATL, since this wouldn't trigger a change detection AFAIK.

[2020-11-07 22:28] lkashef commented on #55
Thanks @timdeschryver! I spent a whole day trying to figure this out!

### Another tip in case anyone came across this issue
 `component.fixture.componentInstance.type` this line was throwing a typescript: Property 'type' does not exist on type 'unknown'.ts, so calling render with the actual component under test (`render<AppComponent>`) will help you overcome this problem and give you static detec

[2020-11-08 15:20] shilman commented on #55
@lkashef Thanks for the mention.

We're currently bridging the gap between storybook and React testing library: https://github.com/storybookjs/storybook/issues/10145

I'm sure some of these utilities (e.g. decorator/parameter/arg composition) can be applied to all frameworks.

As for a more natural way to test stories, we're still figuring that out. Suggestions welcome!

[2020-11-08 19:27] lkashef commented on #55
Thanks @shilman, I am glad you folks have that on your radar.

Yes for sure, soon I hope I can contribute to this amazing project and community!

[2020-11-08 20:32] timdeschryver commented on #159
I tried this with RTL and the behavior is the same.
This is also the intended behavior because we keep a reference, but we have to re-query the element as you've also have noticed.

To not repeat the query you can wrap it inside a factory method:

[code]

[RTL reproduction](https://codesandbox.io/s/polished-leaf-cl76f?fontsize=14&hidenavigation=1&theme=dark&file=/src/index.test.js)

[2020-11-08 20:32] #159 closed

[2020-11-08 23:25] rafaelss95 commented on #159
Thanks for the explanation :)

[2020-11-08 23:35] rafaelss95 commented on #162
Hmm, I'm not also sure what the ideal solution would be, because as you said, this would be tricky for nested forms.. so the implementation would not be really easy.

I guess the directive solves the problem. Do you think it would be interesting to document that `toHaveFormValues` only works with Reactive Forms if you specify "name" or by creating a directive that replicates the `formControlName`

[2020-11-09 08:28] timdeschryver commented on #162
Yes, if you've lost time to investigate this problem I'm sure that adding it to the docs will help future devs 🙂
I'm just not sure where to add it, perhaps create a FAQ section?

[2020-11-12 07:04] IanIsFluent opened #167 "Feature Request: Easier access to component"
Love using testing library, so thank you for giving me Angular testing library!! 🙏

One small problem with using it is that sometimes I _need_ access to the rendered component (I know I shouldn't!) - due to things like configuring a spy to listen to an output event being emitted. In that case I need to use the result from the render - but it'd be much nicer (IMO) to be able to get to it from the `

[2020-11-12 10:38] timdeschryver commented on #162
Closing this because #165 is merged.
Feel free to add an additional note about having a directive.

[2020-11-12 10:38] #162 closed

[2020-11-14 20:09] timdeschryver commented on #167
Hi thanks for your kinds words.

Like you said, we're not a big fan of accessing the rendered component, but we do give you the option to do so.
That being said, it feels a bit wrong to add the instance to `screen` because there might be multiple instances.

[2020-11-16 08:31] IanIsFluent commented on #167
I'm confused by that - do you mean if you run render more than once? In which case, how do the matchers work? Do they iterate on all of the rendered DOMs? And what happens with the `fixture` in a normal Angular unit test, in that case? There's only one `componentInstance` on the shared `fixture` - so I'm not sure why this would be different?

[2020-11-16 17:14] timdeschryver commented on #167
When you're testing a component that has one or more other child components, you will have multiple component instances visible on the "screen". This is also the case with when you use the fixture returned by the `render` function, but it doesn't bother me as much because you're rendering that component.

Thoughts?

[2020-11-17 08:24] IanIsFluent commented on #167
Yes it has child components, but I call `render` on one. That one is accessible via `fixture.componentInstance`. That's the one _I'm_ interested in. There may be other use cases, where someone would be interested in child components - but I'm rendering one, that one is accessible - I'd just love it to be accessible more easily.

To be clear, the only problem with the way it works right now is:
* I

[2020-11-25 18:16] timdeschryver commented on #152
Closing due to inactivity.

[2020-11-25 18:16] #152 closed

[2020-12-03 10:42] StarpTech opened #170 "How to work with timers and long asynchronous operations?"
Hello, I'd like to ask what is the recommended way to fake timers and move in time in long asynchronous operations. We use `fakeAsync` in combination with `tick` and `flush`.

Working with the testing library feels good but I can't find a word or example about that topic. Do I understand correctly that `angular-testing-library` is a companion to angular testing utils?

[2020-12-03 11:40] timdeschryver commented on #170
To be honest, I haven't had this use case, so my experience with it very minimal.
Do you got a concrete example?
Also, perhaps the [docs](https://testing-library.com/docs/using-fake-timers) could help here.

Angular Testing Library is a Dom Testing Library wrapper around the `TestBed`.

[2020-12-03 13:37] StarpTech commented on #170
Imagine the following scenario. A component renders a countdown of X-min. After that, the user is redirected to a different route.

[2020-12-03 17:27] timdeschryver commented on #170
Most of my interactions only needed to wait for some milliseconds, so I was alright using the `waitFor` method and `findBy` queries.
Do you have a reproduction, or did you try to suggested approaches from the referenced blog post?

[2020-12-03 18:38] StarpTech commented on #170
I can't provide a reproduction but the problem is simple. Sometimes you can't just wait until an element is visible. In that case, we use angular testing utils to flush the macrotask queue. It works! I just wondered if it is common because I couldn't find anything about that in combination with `angular-testing-library`.

[2020-12-04 09:45] timdeschryver commented on #170
I added an example in #171, let me know what you think.

[2020-12-04 23:33] StarpTech commented on #170
Good example :+1:

[2020-12-05 13:14] #170 closed

[2020-12-13 15:03] StudioSpindle opened #174 "Example spec for elements which are added/removed from the DOM on button click (dialog modal window)"
I'm currently working on a project with a [material dialog component](https://material.angular.io/components/dialog/overview).

What I find challenging is:

**1. Dialog element is not rendered in the container exported from the testing library render method**

Typically you'd use:

[code]
That container contains all the DOM elements you want to test against. But Angular places an empty div with th

[2020-12-13 15:23] timdeschryver commented on #174
The best practices has changed over time, we don't encourage using the container of the component anymore.
Testing Library provides `screen`, which has all the functionality of `container`, but has better ergonomics, and it also contains the whole DOM.

The [examples](https://github.com/testing-library/angular-testing-library/tree/master/apps/example-app/app/examples) use `screen`, so you can take

[2020-12-13 15:27] StudioSpindle commented on #174
Thank you for your reply. So you'd have to query each time?

I.e. this does not work:

[code]

but this does:

[code]

That's interesting.

[2020-12-13 15:34] StudioSpindle commented on #174
@timdeschryver So how would you use 'querySelector' method without the container?

I guess that's just not recommended. It's just that for the material dialog component, I don't think it's possible to target the backdrop element differently without the 'querySelector' method.

[2020-12-14 13:50] timdeschryver commented on #174
@StudioSpindle I added an example in #175 it also contains a test with the backdrop.
Can you take a look please?

[2020-12-15 08:27] StudioSpindle commented on #174
Great! Interesting approach.

On line 27 and 47 the render code is duplicated. Especially with imports/declarations this is quite cumbersome if it's a complexer component.

I've been using a setup() function ([borrowed from mr Dodds](https://kentcdodds.com/blog/avoid-nesting-when-youre-testing#apply-aha-avoid-hasty-abstractions)).

Is that something you do also?
Or are there some caveats using suc

[2020-12-15 08:51] #174 closed

[2020-12-15 11:53] timdeschryver commented on #174
@StudioSpindle we're using `setup` functions on the project that I'm working on.
The tests in this repo don't follow pattern that because I find it easier to read/understand when there are no abstractions.

[2021-01-11 15:01] jbchr opened #176 "Wait for app initialization until rendering component"
**Description**
Angular TestBed is not honoring APP_INITIALIZER contract. This means tests are executed before app initialization is finished. The corresponding Angular issue is this one: https://github.com/angular/angular/issues/24218

In a scenario without testing-library we can easily use a workaround in waiting for the initialization before executing our tests.

[code]

However when using test

[2021-01-11 15:24] timdeschryver commented on #176
Thanks for opening this issue! I wasn't aware of this behavior.
It would be great if you'd create a PR for this 👍

[2021-01-12 18:07] #176 closed

[2021-01-21 21:18] klinem opened #179 "getByRole not working in jest environment"
I have a project with Jest configured through [@angular-builders/jest](https://github.com/just-jeb/angular-builders/tree/master/packages/jest) (which uses [jest-preset-angular](https://github.com/thymikee/jest-preset-angular)). Trying to find an element using **getByRole** or variants always fails.

I've setup a [small reproduction](https://github.com/klinem/atl-demo/tree/jest) which showcases the

[2021-01-22 19:50] timdeschryver commented on #179
Hi, thanks for reporting this issue and including a reproduction.
I'll take a look at it in the next days.

[2021-01-25 14:06] durgakiran opened #180 "Any Idea on how to test ngIf with BehaviorSubject."
**Target:**
I am writing a module where I need to hide input elements based on some conditions. I am using BehaviorSubject to maintain the toggle status.  I am trying to test it through the angular testing library.

**Problem:**
Unable to test it, the test assertion always says the input element in question is present in the document.

**Reproduction:**
Minimal reproduction is [here](https://codes

[2021-01-25 18:38] timdeschryver commented on #180
Oops, this took me a while to figure out 😅
The reason why the test fails is because the Angular change detection cycle must run to update the DOM based on the component's state. So you can call `component.detectChanges` manually in the `waitFor` expression and that should resolve the issue.

Now the good part, is that Angular Testing Library does this for you, so I was a bit confused that it didn'

[2021-01-25 18:38] #180 closed

[2021-01-25 18:57] timdeschryver commented on #179
Hmmm. I think this is due to something in the angular builder.
I tried the default settings with `jest-preset-angular`, and this also results in a test that passes.

[2021-01-27 03:44] snowfrogdev opened #181 "How to use HttpClientTestingModule and HttpTestingController"
I'd like to be able to use HttpClientTestingModule and HttpTestingController along with angular-testing-library, similar to what is suggested in Angular's docs https://angular.io/guide/http#testing-http-requests.

Here is what I have tried, but it didn't work.
[code]
It looks like the `httpController` is just an empty object with no methods on it.

Your guidance will be appreciated.

[2021-01-27 03:55] snowfrogdev commented on #181
Figured it out. All I needed to do was remove `HttpTestingController` from the `providers` property in the `render` call. I guess the way I had it before I was injecting it twice and that was creating some problems.

[2021-01-27 03:55] #181 closed

[2021-01-27 13:54] snowfrogdev opened #182 "The RenderResult interface seems to be missing a few methods"
The docs for angular-testing-library mention the presence of a `waitFor`, `waitForElementToBeRemoved` and `FireEvent` on the `RenderResult` type but they don't seem to be there.

[2021-01-27 16:04] timdeschryver commented on #182
Hi @snowfrogdev , thanks for opening this issue.
It seems like we forgot to update the docs (sorry), from v11 these aren't available on the render result.
You can directly import those methods from `@testing-library/angular` and use them.

[2021-02-01 21:00] klinem commented on #179
I checked out a new branch in the repo and configured it to use NX and its jest builder (@nrwl/jest). As expected, the test passed. I then compared the two configurations. Nothing really jumped out at me except that NX was using a custom resolver. I copied the resolver implementation and configured the initial jest branch to use it but that didn't work either. I'm a bit stumped.

I've copied Jest

[2021-02-01 21:14] klinem commented on #179
Apologies, one thing I overlooked was that the @angular-builders/jest setup.js is defining a bunch of global mocks. One of them is:

[code]

The test passes after removing this.

[2021-02-02 18:00] timdeschryver commented on #179
Oh that's a great find @klinem!
Would you mind creating a Pull Request that mentions this? (I'm thinking of a FAQ in the README)
I'm sure it could help onboarding other devs that use the jest builder.

[2021-02-07 11:25] #182 closed

[2021-02-09 08:45] jk-kiran-palakurthi opened #184 "Question: How to select an option in select input (mat-select)"
Target:
I am writing a module where I need to hide input elements based on some conditions. I need to select an option of material select input.

Problem:
Unable to test it, the test assertion throws error.
` TestingLibraryElementError: Value "Partnership" not found in options`

Reproduction:
- I am loading mat options using *ngFor (below are my options)
[code]

- Below is my assertion code.

[cod

[2021-02-09 10:59] jk-kiran-palakurthi commented on #184
It seems `userEvent.selectOptions(firmType, 'Partnership')`  does not work for `mat-select`

[2021-02-09 15:47] timdeschryver commented on #184
There's a workaround in our [examples](https://github.com/testing-library/angular-testing-library/blob/master/apps/example-app/app/examples/04-forms-with-material.spec.ts#L24-L25) (click on the select input, and then click on the option).

If you're interested, feel free to take a look and see what's needed to support an Angular Material select input.

[2021-02-21 05:15] durgakiran commented on #184
Sorry for the late reply, this is my personal GitHub account. I am committing at least 4hr per week time from today to look into this issue.Thanks.

[2021-02-21 18:28] #179 closed

[2021-02-21 18:29] #65 closed

[2021-02-26 17:10] sluipersbeck commented on #184
I tried the suggested workaround, but the (selectionChange) Event of the mat-select was not triggered by the click on the option. The change handler method assigned to the selectionChange Event was not called when I was debugging the test case.

In my example a button should be displayed when a certain entry of the drop down is selected.

[2021-03-05 15:47] goloti opened #186 "DOCUMENT as injection token dependency example"
Would be nice if you can provide the same 10-inject-token-dependency example but injecting the DOCUMENT token instead, This token is required if you try to access browser's document global variable when you are using SSR with Angular Universal.

[2021-03-07 18:05] timdeschryver commented on #186
Hi @goloti , what would you be looking for exactly?
It would be the same, but with the `DOCUMENT` token.

[2021-03-07 21:54] goloti commented on #186
Yes, I'm sorry. I didn't provide any information or context... Let me try again.

Im using the DOCUMENT token to obtain the current URL with angular universal.

[code]

I have injected the DOCUMENT token in the same way that you are providing the DATA token.
In the component, I'm just using `location.pathname`, So I thought that mocking just these properties would be enough.

[code]

However it th

[2021-03-08 17:55] timdeschryver commented on #186
Hi, thanks a lot for the details and the reproduction!
I'm not familiar with SSR, but have you tried providing the "real" document as value?
Something like this:

[code]

[2021-03-13 12:30] goloti commented on #186
Yes! It works! I have focused in mock implementation forgetting completely the real one...
Thank you very much!

[2021-03-13 13:38] #186 closed

[2021-03-17 18:47] swhammack opened #188 "ComponentProperties no longer in ngOnChanges"
After updating to 10.4.0 we saw a bunch of tests that were suddenly failing. After a bit of digging I realized each component implemented `OnChanges` and in the `ngOnChanges()` function we were looking for an `@Input` property to be in the changes object. It seems with the latest changes any `@Input` property that is set in `componentProperties` is never in the changes object in `ngOnChanges`.

Qu

[2021-03-18 08:46] timdeschryver commented on #188
Thanks for the report!
Could you create a reproduction for this behavior, or take a look at how we can fix this in ATL?
I thought we had a test case for this, but it seems like it isn't covering everything 😅

[2021-03-18 15:28] swhammack commented on #188
Here is [my fork with a reproduction test.](https://github.com/swhammack/angular-testing-library/blob/bug/onChanges/projects/testing-library/tests/issues/188-onChanges.spec.ts).

[2021-03-18 16:58] timdeschryver commented on #188
Thanks a lot @swhammack !

[2021-03-18 18:01] #188 closed

[2021-03-18 18:34] swhammack commented on #188
@timdeschryver thanks for the quick fix!

[2021-03-22 19:57] pcafstockf opened #190 "Incompatibility with new testing-library/user-event release"
The tests for my angular app make many calls to [userEvent.type](https://github.com/testing-library/user-event#typeelement-text-options) in testing-library/user-event.

With the new [release of testing-library/user-event](https://github.com/testing-library/user-event/releases/tag/v13.0.0), these tests (which were passing), now break, and the cause *seems* to be that angular is no longer detecting

[2021-03-22 20:18] timdeschryver commented on #190
Hi, thanks for opening this issue.
The change detection is triggered by configuring dom testing library [here](https://github.com/testing-library/angular-testing-library/blob/master/projects/testing-library/src/lib/testing-library.ts#L63-L66).

The new `type` implemention should use this config.

[2021-03-22 21:09] pcafstockf commented on #190
That was exactly what I needed.  Thank you!

Closing this issue, as I was able to determine it had nothing to do with any testing-library project.

A 3rd party component (which uses setTimeout heavily), just happened to work because of the way userEvent.type had been implemented.

I was able to use the config mechanism that you pointed out, to write my own wrapper to keep the 3rd party component h

[2021-03-22 22:01] #190 closed

[2021-03-23 07:48] timdeschryver commented on #190
Is this something that we would also need to fix in this library?
Or was the fix specific to your codebase?

[2021-03-23 17:47] pcafstockf commented on #190
Lol.  That is why I closed, reopened and again closed this issue...  I was trying to decide the same thing.

There may be folks that run into a similar problem, but I feel this is ultimately a user land issue, not something for the angular-testing-library.

The 3rd party component (Syncfusion Angular Grid) receives the events from `type`, but processes them async (sometimes even multiple async cal

[2021-03-24 13:01] GlebIrovich opened #191 "Broken tests for the components with setters in Input"
Hey there! I noticed, that updating to 10.4.1 cause some of my tests failing. I investigated a bit and it seems, that the components, which are using setters in the inputs are not invoking logic that was in the setter before.

I assume it might be caused by this change in 10.2.1 which changes the way how component properties are added to the fixture:
https://github.com/testing-library/angular-test

[2021-03-24 18:19] timdeschryver commented on #191
Oh shoot, it could be a bug.
It seems like we don't have any tests to cover this behavior, because it should "just" work.

Can you perhaps create PR with a fix, or a test with the expected behavior?

[2021-03-24 18:29] GlebIrovich commented on #191
@timdeschryver thanks for clarification! I have no experience contributing to an open source project, but it seems like a sign to give a shot. I will prepare a PR with tests at least.

[2021-03-24 18:47] timdeschryver commented on #191
Thank you in advance!
If it takes too long, or if you're having troubles feel free to ask for help, or just to paste the test here 🙂

[2021-03-24 21:10] GlebIrovich commented on #191
here is a [PR](https://github.com/testing-library/angular-testing-library/pull/192)

Let me know if I missed anything

[2021-03-25 11:44] #191 closed

[2021-04-01 05:53] pradhanadi opened #195 "Test case for mat-menu."
So I have a component that uses mat-menu. When I call fireEvent.click(), I get an error: TestingLibraryElementError: Unable to find role="menu" in console.

[code]
This is the code that I wrote. Can someone help me out? I am fairly new in Testing.

Thanks.

[2021-04-01 13:09] timdeschryver commented on #195
Can you create a runnable reproduction @pradhanadi ? Either in this repository, or somewhere else.

[2021-04-01 16:31] pradhanadi commented on #195
Hi @timdeschryver, I have created a repo.

[2021-04-01 19:20] timdeschryver commented on #195
This is because the menu is hidden to testing library, as a fix you can do the following.

[code]

[2021-04-01 19:22] pradhanadi commented on #195
Will this work for mat dialog as well? Getting same error for mat-dialog

[2021-04-01 19:26] pradhanadi commented on #195
This worked!. Thanks @timdeschryver :)

[2021-04-01 19:29] timdeschryver commented on #195
Yes, it will work.
You can also configure TL to have `hidden true` as default, so you don't have to repeat it in tests.

I think this is due to the overlay of material, but i'll have to investigate it more to be sure.

[code]

[2021-04-01 19:33] pradhanadi commented on #195
Can you also help me out with service test case for mat dialog? I'll share the code.

[2021-04-01 19:35] pradhanadi commented on #195
Yes it worked with mat-dialog as well. Can't believe  `{hidden:true}` was the solution my team and me were not able to find.

[2021-04-01 19:59] pradhanadi commented on #195
@timdeschryver: A strange thing is happening. So I added `hidden: true` to all my mat-menu and mat-dialog test cases, they were successful at first, but now they are failing. Any idea?

[2021-04-02 07:49] pradhanadi opened #196 "How to write test case for mat-dialog service?"
I have a dialog component and it has a service. The service has a function for opening the dialog. The service file looks like this:
[code]

I need to write a test case for this service. So far I have this in my service.spec.ts:

[code]

But I get an error:

Expected 1 arguments, but got 0.ts(2554)
dialog.service.ts(10, 15): An argument for 'dialog' was not provided.

Can anyone help me please?

[2021-04-09 16:44] #195 closed

[2021-04-09 16:50] pradhanadi opened #197 "Printing lots of ReferenceError messages at the end of Jest test execution"
While running the test case for a component, I get an error: `ReferenceError: You are trying to access a property or method of the Jest environment after it has been torn down.`  but the same test case is working absolutely fine for other component.

Relevant code:
my component.ts
[code]

my component.spec.ts
[code]

my component.html:

[code]

What amuses me is, I have same set of code for anothe

[2021-04-09 19:10] timdeschryver commented on #196
I don't think this has anything to do with ATL?
`DialogService` expects a `MatDialog` as input, but it's not provided with `new DialogService()`.

[2021-04-09 19:12] timdeschryver commented on #197
This is hard to debug without a reproduction.
Would it be possible to create one?
Also, am I correct to assume that the same test doesn't log messages with a jasmine/karma setup?

[2021-04-12 08:57] the-ult opened #198 "Add ESLint with the eslint-plugin-testing-library and adjust examples"
## Context
To provide the 'best' examples possible it would be good to use the [eslint-plugin-testing-library](https://github.com/testing-library/eslint-plugin-testing-library) and [eslint-plugin-jest-dom](https://github.com/testing-library/eslint-plugin-jest-dom)

And update the examples with the best practices.

@see [common-mistakes-with-testing-library](https://kentcdodds.com/blog/common-mista

[2021-04-12 09:22] timdeschryver commented on #198
Thanks @the-ult , I was waiting on a migration schematic and NX recently released one.
If you want, feel free to migrate the linter.

[2021-04-12 09:30] the-ult commented on #198
Hi @timdeschryver ,

I will try to find some time this week to add a PR.
Would you prefer 2 different PR's or can I combine them?
- replace TSLint with ESLint
- add testing-library eslint rules

[2021-04-12 10:45] timdeschryver commented on #198
@the-ult yea, I think that would be ideal!

[2021-04-13 19:01] the-ult commented on #198
Hey @timdeschryver I added the pull-request for the migration part
Could take look. And check/test it where needed?

[2021-04-16 13:11] #198 closed

[2021-04-20 10:41] lacolaco opened #203 "Request: Add `template` to RenderComponentOptions"
https://github.com/testing-library/angular-testing-library/blob/master/projects/testing-library/src/lib/models.ts#L266

TypeScript cannot determine which `Type` is a component or directive. Because `template` is from only `RenderDirectiveOptions`, TypeScript language service cannot suggest it for autocompletion.

In my opinion, `render(Comp, { template })` is a common use-case, and it actually wor

[2021-04-21 15:02] timdeschryver commented on #203
I agree!
It started out as a way to test directives, but I also use it more and more to test components.

The only "problem" is that the type won't be `FooComponent` in your example, because the component will be hosted in a host component.

I think the name of `RenderDirectiveOptions` is badly chosen from my end, but if I'm not mistaken, I think you would expect that the return type would be `Foo

[2021-04-21 15:30] lacolaco commented on #203
@timdeschryver I can understand what you want to say, but I'm not expecting it (so far).
As you say, it is probably not intuitive that the target component is different from the host... Usually, I define the same props in the wrapper by using `componentProperties`.

[code]

I don't think this design is a mistake, but maybe not intuitive. My rough idea is adding `render` overload for the custom tem

[2021-04-21 16:09] timdeschryver commented on #203
I prefer to just keep it as `render` because of that's how we do it in TL (as you mentioned).

I really like alternative version to render a template! This would resolve the confusion with the host component.
If you want you can make these changes and open a PR, otherwise I will probably implement it somewhere next week.

[2021-04-21 16:19] lacolaco commented on #203
I'd like to create a PR as my first contribution for testing-library! 👍 I'll work on it in a few days.

[2021-04-21 16:32] timdeschryver commented on #203
Awesome, thanks @lacolaco !
If there's anything, feel free to ping me :)

[2021-04-22 17:33] #203 closed

[2021-04-24 08:07] timdeschryver commented on #197
Feel free to reopen this issue with a reprodution.

[2021-04-24 08:07] #197 closed

[2021-04-24 08:07] #196 closed

[2021-04-25 17:00] pradhanadi opened #209 "Test Case to check if button is enabled after user types in input box."
I have a form in my modal with one input box. Initially if input box is empty, the button is disabled, it gets enabled after user types something in the box.
Form code:
[code]

I need to write a test case in which I need to check if user has typed something in the text box and save button is enabled.

So far I have written this:

[code]

But i get an error: `Received element is not enabled`

Any k

[2021-04-26 12:48] Chr111 opened #210 "test authentification"
Hello,
I'm looking for a way for testing my component. Could you help me please?
thank
Chris

import {HttpClient} from "@angular/common/http";
import {Injectable} from '@angular/core';
import {Router} from '@angular/router';

@Injectable()
export class AuthService {
  URL = "https://prod.api.sofavod.com/";
  isAuth = false;
  username: string;
  token: string;
  currentUser;

  constructor(private

[2021-05-07 11:37] timdeschryver commented on #209
Hi, I'm trying to keep the issues strictly for issues.
If you need help, feel free to join our [discord server](https://discord.gg/testing-library).

[2021-05-07 11:37] #209 closed

[2021-05-07 11:37] timdeschryver commented on #210
Hi, I'm trying to keep the issues strictly for issues.
If you need help, feel free to join our [discord server](https://discord.gg/testing-library).

[2021-05-07 11:37] #210 closed

[2021-05-12 09:12] adicodes-dev opened #213 "Test case for service/component that uses Router as dependency injection."
I have a service that uses Router as dependency injection but I'm not able to figure out how to use Router in unit test case.

My service constructor looks like this: `constructor(private router: Router) {}`
My service spec:  `beforeEach(() => { service = new ManageDeviceService(new Router()); });`

I get an error for new Router(). Can anyone help me out please?

Thanks in advance

[2021-05-12 17:41] timdeschryver commented on #213
Hi, this question is better asked on Stack Overflow or on a discord server.

[2021-05-12 17:41] #213 closed

[2021-05-12 17:43] timdeschryver commented on #184
Closing this issue because it's been inactive.

[2021-05-12 17:43] #184 closed

[2021-05-12 17:44] timdeschryver commented on #161
Closing this issue because it's been inactive.
To test forms, you can take a look at [A practical guide to Angular Template-Driven Forms](https://timdeschryver.dev/blog/a-practical-guide-to-angular-template-driven-forms), which has some tests in the examples.

[2021-05-12 17:44] #161 closed

[2021-06-02 08:06] rothsandro opened #222 "Rerender with template throws "Cannot redefine property""
# Steps to reproduce
1. Create a new Angular 12 project
2. Install testing library
3. Add a new test that renders a template with componentProperties
4. Call "rerender" with an updated property value

[code]

# Expected behavior
The template should be updated with the new value

# Actual behavior
The following error is thrown:
[code]

# Cause
The function `setComponentProperties` which is called d

[2021-06-02 12:52] timdeschryver commented on #222
@rothsandro thanks for the detailed info!
If you want, feel free to create a Pull Request with the needed changes.
The proposition seems fine to me.

[2021-06-02 13:55] rothsandro commented on #222
@timdeschryver Thanks. Yes, I can create a PR.

I already started creating a test case for that before fixing it but it seems that Jest has configurable true by default (vs. false with Karma and a real browser) so the test does not fail :-( Should I just fix this without a new test case?

[2021-06-02 15:38] timdeschryver commented on #222
@rothsandro oh, good to know.
If you add a comment why we do it, then that's fine.
Perhaps that we should create some karma tests for safety in the future...

[2021-06-03 17:31] #222 closed

[2021-06-12 04:44] lacolaco opened #227 "`render(template)` syntax highlighting on IDE like vscode"
Angular's inline template HTML is treated as an HTML part by VSCode because Angular's extension registers that. Of course, the template string you pass to `render(template)` is not treated as HTML, and you will not get assistance with closing tag completion, code formatting, or syntax highlighting.

I know it's not easy, but I think testing-library will be very convenient if this can be achieved.

[2021-06-12 08:12] timdeschryver commented on #227
🤔 I think this should be doable,  let's give this a shot.

[2021-06-13 07:28] #227 closed

[2021-06-22 10:03] jbchr opened #230 "Endless loop in waitFor"
Hello 👋,,

we have the issue that some of our testing-library tests get stuck in an endless loop but only when they fail.

I could track down the issue to the waitFor function and to all functions that use it under the hood such as `findBy*`.

Furthermore, I think the issue is related to the internal usage of MutationObserver in waitFor by DTL to trigger the callback inside waitFor. But also how A

[2021-06-23 07:39] timdeschryver commented on #230
Hi @jbchr , thanks for creating this issue.
I think all of your observations are correct here.

From my perspective removing the `MutationObserver` would be the last resort though.
It would also be hard to run that check outside of ZoneJS because that's Angular specific.
Inside the `waitFor`, there's a timeout that in this case never times out.
I think we should investigate this first.

I also thi

[2021-06-23 12:48] jbchr commented on #230
Hey @timdeschryver,

thanks a lot for your quick reply and for taking this up 🙏

Yes, but I don't really like this approach for various reasons:
- It's "soft"-disabling MutationObserver, so I'd rather go with really disabling it
- One of `childList`, `attributes`, or `characterData` has to be set to true according to spec, so you have to pick your poison (I think attributes has probably the lowest

[2021-06-23 18:48] timdeschryver commented on #230
Those are valid points and concerns @jbchr , thanks for your thoughts.

After tinkering on this today, I guess it would make sense in our case to discard the mutation observer because the DOM would only change during a change detection cycle. Right?

I'm little hesitant though, because I'm afraid that some tests will take longer to run.
Where the mutation observer caught a change previously, `wait

[2021-06-24 10:01] jbchr commented on #230
Some tests will be faster with it. Some will also fail without it, for example https://github.com/testing-library/angular-testing-library/blob/main/apps/example-app/src/app/examples/13-scrolling.component.spec.ts, maybe this can be fixed...

Ah yes, seems waitForElementToBeRemoved to rely on mutationObserver maybe it can be fixed. But yes, that some tests can be slower seems the case, you could in

[2021-06-29 16:04] #230 closed

[2021-06-30 18:07] jbchr commented on #230
@timdeschryver thanks a lot for the fix 🙌  But as a heads up I had to add setImmediate polyfill to our setup, as it [seems not to be part of jest-environment-jsdom anymore in v27 ](https://github.com/facebook/jest/pull/11222)

[2021-06-30 18:16] timdeschryver commented on #230
@jbchr  thanks! I only tried jest 26 😅.
I think this is just a temporary fix until something better comes up.

So, if I understand correctly you're using Jest 27 for your angular tests without troubles? That's good to know, because I had a negative when it just got released.

[2021-07-06 09:49] the-ult opened #235 "[Regression] ESLint plugin plugin:testing-library/angular & plugin:jest-dom/recommended are removed"
@timdeschryver It seems like you (accidentally?) removed
[code]
with the upgrade to/for Angular 12

[See Commit](https://github.com/testing-library/angular-testing-library/commit/e6d2e84470abdb6ff8c61a2494cc0fed2805ef72#diff-45673f3f4db2127124203aa2c44baf45de285dc6e30c793f368fd1829225a630)

both in `apps/example-app` and `apps/example-app-karma`

[2021-07-06 14:05] timdeschryver commented on #235
Yikes, I think this accidently got removed with a schematic. Good catch! Feel free to open a PR to reintroduce the linter.

[2021-07-06 16:46] timdeschryver commented on #235
Yea there's no rush @the-ult .
If you can't make it today another time is also great, or I can also add it 🙂

[2021-07-06 20:27] the-ult commented on #235
OK.. got a PR ready 👍

[2021-07-07 17:41] #235 closed

[2021-07-30 06:46] Lukas-Kullmann opened #240 "fixture.destroy() not called in cleanup"
Hey there, I ran into an issue that I could fix by calling `fixture.destroy()` at the end of my test. The details are not really important here.

Apparently, the cleanup function in projects/testing-library/src/lib/testing-library.ts only removes the elements from the dom. It does not destroy the fixture.

Is there a reason for that? I think destroying the fixture at the end of each test is a good

[2021-07-30 07:03] timdeschryver commented on #240
I think this is a good idea!
If you want, you can create a Pull Request.

[2021-07-30 11:16] #240 closed

[2021-08-27 12:04] getsetbro opened #243 "Errors in angular 12 upgraded from 10."
Do you have an example of this working in angular 12 with jest? I'm an interested in what the config files should be.

[2021-08-27 16:45] #243 closed, assigned to nobody

[2021-09-06 19:46] snowfrogdev opened #244 "An error was thrown in afterAll Uncaught ReferenceError: process is not defined"
I get the following error when trying to run tests using angular-testing-library:

In the karma chrome test runner:
[code]

![image](https://user-images.githubusercontent.com/22530235/132256627-e90df5c9-7238-4a50-ae4e-05bde13af515.png)

In the terminal:
[code]

It looks like it's trying to run Node specific code in the browser and since there is no `process` property on the  global or window objec

[2021-09-07 09:57] timdeschryver commented on #244
Hi @snowfrogdev which version of Angular Testing Library are you using?
If you're not on v10.11.0, could you try to upgrade it. I thought we had this fixed in one of our latest releases.

[2021-09-08 00:00] snowfrogdev commented on #244
I had v10.3.0. I upgraded to v10.11.0 and that seems to have fixed it.
Thanks a bunch.

On Tue, Sep 7, 2021 at 5:57 AM Tim Deschryver ***@***.***>
wrote:

[2021-09-08 16:33] timdeschryver commented on #244
Great to hear that, thanks for the update @snowfrogdev

[2021-09-08 16:33] #244 closed

[2021-09-08 18:18] bmarshallgrowers opened #245 "Render a component with a templateurl/styleurls"
I use the Angular CLI to create my components and it generates separate css and html files for each component. When I then try to test those using this library. I get the following error

"Unhandled Promise rejection: This test module uses the component ToolbarComponent which is using a "templateUrl" or "styleUrls", but they were never compiled. Please call "TestBed.compileComponents" before your

[2021-09-09 08:11] timdeschryver commented on #245
Hi, this is a general question that can be caused by different factors.
The versions of angular, testing library, the test runner would be helpful.
From my experience, it should just work.

[2021-09-13 05:38] DevFlash33 commented on #245
I have the same failure since the update to Angular v12 and also updated your libary, so that no peer dependency problems more appear. Im using it with jest, but i dont think that this is the failure.

[2021-09-13 09:32] timdeschryver commented on #245
Have you tried running `ngcc`? See https://github.com/testing-library/angular-testing-library/issues/66#issuecomment-593140161 for an example.

[2021-09-13 09:40] DevFlash33 commented on #245
yeah this solved the issue, thank you!

[2021-09-13 09:43] timdeschryver commented on #245
Closing this issue, feel free to reopen if the issue isn't resolved.

[2021-09-13 09:43] #245 closed

[2021-09-20 16:06] tiagomsmagalhaes commented on #184
The link above is dead (possible file moving?) [The new link with the example](https://github.com/testing-library/angular-testing-library/blob/main/apps/example-app/src/app/examples/04-forms-with-material.spec.ts#L24-L25)

[2021-10-05 08:01] ed-sparkes opened #250 "Routing example - fireEvent.click"
Hi,

Is there no way to make the router tests work by simulating the user action `fireEvent.click(elem)` rather than using the `navigate(elem)` method.

Thanks, Ed

[2021-10-05 15:35] timdeschryver commented on #250
Hi Ed, sadly this is a known issue...
At the time when I wrote it, I didn't find a way on how to navigate to a route by simply clicking on the element.
That's why `navigate` came to life, because it picks the `href` from the route and navigates to it ([link to code](https://github.com/testing-library/angular-testing-library/blob/main/projects/testing-library/src/lib/testing-library.ts#L153-L186)).

[2021-10-13 13:37] MysticEarth opened #252 "`rerender` seems to update props instead of replacing them"
In a component we provide two inputs, `avatar` and `name`. Whenever `avatar` is `undefined` and a `name` is given, it should render the initials instead of an image. To test this behaviour we've used `rerender`:

[code]

`renderedAvatar` succeeds as expected, but `renderedInitials` fails since `avatar` is still set – while I expected passing an object to `rerender` would completely replace all pro

[2021-10-13 19:24] timdeschryver opened #253 "Investigate Angular teardown"
[code]

Will become the default:

https://github.com/angular/angular/pull/43353

[2021-10-15 23:22] sanchitos opened #254 "[Angular] Can't find a to make findAllByRole work but findAllbyText works fine."
Hi, I really don't know why trying to find by role throws an error, but findAllByText works perfectly, they are querying the same screen elements.

    "@testing-library/angular": "^10.11.0",
    "@testing-library/jest-dom": "^5.14.1",
    "@angular/cli": "~10.2.0",

Component:

[code]
HTML

[code]

Test:

[code]

What screen.debug() shows:

![image](https://user-images.githubusercontent.com/43367

[2021-10-16 12:34] timdeschryver commented on #254
I reproduced the test, but it seems to work here.
https://github.com/testing-library/angular-testing-library/pull/255

[2021-10-17 17:20] yuriybelike commented on #135
In case someone comes across this...

This [StackOverflow answer](https://stackoverflow.com/questions/63182537/angular-testing-library-getbyrole-query-works-only-with-hidden-true-option) was what helped me.

The gist is to remove the "getComputedStyle" mock.
(If you are using @angular-builders/jest it's the globalMocks option).

[2021-10-19 06:49] MysticEarth commented on #252
Ah yes, I understand! Sounds great you are introducing a new `change` method for this purpose.

[2021-10-21 07:23] LayZeeDK commented on #253
Thanks for your support, @timdeschryver. I'm also unable to reproduce now. It must have been a local dependency issue.

You can close this issue.

[2021-10-26 07:09] #253 closed, assigned to nobody

[2021-11-03 12:00] timdeschryver opened #258 "Upgrade deps"
With the release of Angular we should also upgrade the deps in this lib:

- Angular
- NX
- ???

This could also lead to a breaking change, and we can merge #257 with the release.

If someone wants to pick this up, feel free to add a comment.

[2021-11-04 14:02] the-ult commented on #258
As soon as NX releases the migration for Angular 13, I can create a PR.
So, probably next week

[2021-11-05 08:43] the-ult commented on #258
It is probably a good idea to see if Angular Testing Module teardown is properly handled atm.
And perhaps we can make it configurable or something. An extra option for `Render`?

see: https://dev.to/this-is-angular/improving-angular-tests-by-enabling-angular-testing-module-teardown-38kh

[2021-11-05 10:56] timdeschryver commented on #258
@the-ult  +1 for adding the config option!
It should be handled correctly (#253), but it can't harm to double check.

[2021-11-23 10:28] the-ult commented on #258
Gonna try and create a PR this week

[2021-11-23 14:08] the-ult opened #261 "Set Typescript tsconfig.base.ts to strict"
Apply the strict settings for the whole workspace:

[code]

- https://www.typescriptlang.org/tsconfig#strict
- https://indepth.dev/posts/1402/bulletproof-angular

[2021-11-24 12:54] mleimer opened #263 "Component with attribute selector"
### Problem
Based on the examples https://github.com/testing-library/angular-testing-library/blob/main/apps/example-app/src/app/examples/02-input-output.ts and https://github.com/testing-library/angular-testing-library/blob/main/apps/example-app/src/app/examples/02-input-output.spec.ts

Given that a component contains an attribute within its selector
e.g. `app-fixture[value]`

Then it is not possi

[2021-11-24 18:18] timdeschryver commented on #263
Thanks for creating this issue @mleimer .
This is the first time that this use case pops up, and I don't think there's something that we can provide to fix this for now - but I'll think on it a while longer. For now, adding a note in the docs is the best way to go.

Updating the example is also a good point that you bring up.

Do you want to create a PR for one/both of these suggestions?

[2021-11-26 19:00] mleimer commented on #263
I created a PR at https://github.com/testing-library/angular-testing-library/pull/264

- It updates existing examples by using the new render-method to render templates
- It adds a new example and a note how to render components with an attribute selector
- It does **not** provide a solution how to handle components with an attribute selector without using a template

[2021-11-26 19:03] #263 closed

[2021-11-26 20:53] timdeschryver commented on #263
Thanks for your help @mleimer

[2021-12-02 11:19] the-ult opened #269 "[bug] Render() does not work with embedded HTML in template literal"
While trying to test a custom Pipe, I encountered an error about the closing tags.

### Pipe
[code]
### spec
[code]

*N.B.*
Replacing `stringWithHTML` with a simple string works.
`const stringWithHTML = 'actually without HTML';`

### Error
[code]

[2021-12-06 08:10] Quraian opened #270 "... has incorrect peer dependency "@angular/forms@13.0.2""
Hi, there seems to be some odd (correct me if I'm wrong) peer dependencies:

<pre>
warning " > @testing-library/angular@11.0.0" has incorrect peer dependency "@angular/forms@13.0.2".
warning " > @testing-library/angular@11.0.0" has unmet peer dependency "@testing-library/user-event@^13.5.0".
</pre>

[2021-12-06 09:34] timdeschryver commented on #270
@Quraian Version 11 of Angular Testing Library is recommended to be used with Angular 13.

[2021-12-06 15:01] Quraian commented on #270
I am using version 13, I just tried win a new Angular 13 project but still see this warning.
If this is not appearing with you then you can close it, cause I'm not sure about it.

[2021-12-06 18:36] #270 closed

[2021-12-07 13:55] timdeschryver commented on #270
Thanks @Quraian , I was able to reproduce it.
This should be resolved in v11.0.2

[2021-12-09 14:53] #269 closed

[2021-12-09 14:54] #261 closed

[2021-12-09 14:55] #252 closed

[2021-12-09 14:55] #258 closed

[2021-12-31 14:06] mleimer opened #275 "Angular Material - Verify Form and Display / Text Value of a Select Box"
Testing an Angular Material Select-Box https://material.angular.io/components/select/examples#select-custom-trigger appears to be rather cumbersome at this stage.

Based on [04-forms-with-material](https://github.com/testing-library/angular-testing-library/blob/main/apps/example-app/src/app/examples/04-forms-with-material.spec.ts )

..verifying if a Angular Material Select-Box has a pre-set form v

[2021-12-31 14:09] mleimer commented on #275
I created this PR here to enhance the example to show how one can currently verify any pre-set values: https://github.com/testing-library/angular-testing-library/pull/276

It would be awesome, if there is an easier solution!

[2022-01-05 20:23] #275 closed

[2022-01-29 20:05] meirka opened #278 "See UI state during or after test run"
Hello, I wonder if it is possible to see what's happening with UI during a test run.

Currently I'm using Angular TestBed to test components. All tests run under jasmine in the browser, so I can actually observe UI changing or if I get stuck, I can see at which point UI stopped (given teardown after each test is turned off).

I like the idea behind this project and implementation looks very nice,

[2022-02-02 18:50] timdeschryver commented on #278
The Testing Library isn't a test runner, it's "just" a helper to render/query/interact with a component.
That's why it can be used with jasmine or jest.

That being said, you can debug tests but it isn't a concern of this library.
I don't got much experience with it, but if you search for debugging jasmine tests, you should also be able to debug tests that use the ATL library.

[2022-02-02 18:50] #278 closed

[2022-02-05 15:41] meirka opened #280 "Bug with location.back()"
Hello, I believe I found a bug, where angular testing library doesn't seem to handle `location.back()` scenario.

I have prepared simple project with very basic navigation, specs with TestBed and with Angular Testing Library. In case of TestBed navigation works correctly, but with Angular Testing Library it does not.

https://github.com/meirka/angular-unit-test-navigation

I have similar test in m

[2022-02-07 18:39] timdeschryver commented on #280
Hi, this seems like to be a bug.
I've opened a PR to your example (https://github.com/meirka/angular-unit-test-navigation/pull/2) with a temporary fix.

Since it's the first time that I've encountered the `initialNavigation` method, I would like to take a closer at it. My current thought is that invoking this method on render becomes the default behavior of ATL when the routermodule is imported. B

[2022-02-07 20:31] meirka commented on #280
@timdeschryver, I can write the test, are you sure you want me to put test in?
I never done stuff like this.

As per fix, no no no... I don't understand how Angular or Angular Test Framework works, I definitely don't want to mess with it.

Thank you for the help. I'll make PR (with test) in next couple of days.

P.S: developing angular app is just a hobby, I don't work with it on daily basis. I ju

[2022-02-07 21:31] meirka commented on #280
Cloned project and tests are failing before I even started...

[2022-02-08 16:19] timdeschryver commented on #280
@meirka Oh.. yikes those failing tests shouldn't happen 😅
Also, I don't want to obligate you - if you don't feel like it, I'm happy to pick this up or to help you.

[2022-02-09 12:29] meirka commented on #280
@timdeschryver I would like to add a test. I emailed you test error details. I figured to take test issues off the thread.

[2022-02-09 13:11] timdeschryver commented on #280
@meirka Oh, I think that you mailed it to a no-reply address... perhaps that I should use my "real" e-mail address here 😅

I'll try to run the tests locally and see if I can reproduce the error.
If that's not the case, then I'll ping you here to get the error message (if you want, you can also add the error message in this thread)

[2022-02-10 07:44] timdeschryver commented on #280
@meirka the error should be resolved with #282 - sorry for the inconvenience.

[2022-02-10 12:26] meirka commented on #280
@timdeschryver Yeah, tests are good now. Give me few days, let me try to workout tests

[2022-02-11 14:06] meirka commented on #280
@timdeschryver
Can you help me a bit? I got stuck with the test:
https://github.com/meirka/angular-testing-library

It doesn't want to click on 'navigate back' and I don't understand why.

[2022-02-12 11:03] timdeschryver commented on #280
@meirka try this.
You have to add the components to the declarations, also you should away the `findBy` queries.

The following always is truthy because `findBy` returns a promise.

[code]

The version with the declarations:

[code]

[2022-02-12 13:33] meirka commented on #280
Thank you!

[2022-02-12 13:41] meirka commented on #280
@timdeschryver PR is up - made changes, verified that test is failing (due to the bug).
Let me know what else I can do.
Also please add me to the pull request for the fix, I would like to read over it.
Thank you!

[2022-02-25 18:28] #280 closed

[2022-02-25 19:09] timdeschryver commented on #250
Thanks to @meirka we were able to provide a fix for this issue in #286.
I've refactored the navigation example in #287

[2022-02-25 20:01] #250 closed

[2022-03-10 08:09] marcioggs opened #288 "Prefer declared component instead of same component on imported module"
Hi!
First of all, thanks for your hard work simplificating my tests and I hope this becomes the de-facto library for Angular tests (as its name almost suggests it)✌

When we provide a service that's already contained in one of the imorted modules, Angular Testing Library gives preference to the one on the `providers` array. 👍
[code]

I expected the same to happen on the `declarations` array, but t

[2022-03-10 16:15] timdeschryver commented on #288
I'm not familiar with ng-mocks, what's the behavior when you do this with a "normal" test that's using the Angular TestBed?

[2022-03-14 15:10] marcioggs commented on #288
Hi, @timdeschryver.
Even without ng-mocks the problem persists, so it's not related to the way it creates the mock component.

Below you'll find standalone tests both using Testing Library and TestBed.
Both fails, using the real component (`RealChildComponent`) instead of the mocked one (`MockedChildComponent`).
This means that Testing Library is fine as it is, right?

[code]

The TestBed test fai

[2022-03-14 19:09] timdeschryver commented on #288
@marcioggs correct, that was my understanding as well the last time that I checked this but I wanted to be sure about it.
AFAIK we can't currently intervene this behavior.

[2022-03-14 19:51] marcioggs commented on #288
Maybe it's still possible to dynamically create a module that overrides the components in the `module`  array with the components declared in the `declarations` array.
However, the `providers` array already works like this, so maybe this is a valid argument to request the implementation directly on Angular.

[2022-03-17 08:07] marcioggs commented on #288
Hi again, @timdeschryver .

Through this [issue](https://github.com/angular/angular/issues/45362#issuecomment-1069559987), I discovered that we can use [TestBed#overrideComponent](https://angular.io/api/core/testing/TestBed#overrideComponent) to achieve this.

Would Testing Library need to be changed to use this TestBed's method?
I didn't find any way of achieving this with the `RenderResult` obje

[2022-03-20 10:08] satanTime commented on #288
Hi @marcioggs,

in theory "exclude" option of `ng-mocks` should help you here:

[code]

There is an article about `spectator`, however, the same should be true for `angular-testing-library`: https://ng-mocks.sudo.eu/extra/with-3rd-party.

[2022-03-21 18:47] timdeschryver commented on #288
Thanks for the tip @satanTime .
Does that work for you @marcioggs ?
I'm actually not that motivated to add the override components into ATL because I'm not a big fan of shallow renders.

[2022-03-23 14:55] marcioggs commented on #288
Hi. Sorry for the delay.
The example below works using `ngMocks.guts`. Thanks @satanTime 👍

[code]

@timdeschryver
not being a fan of shallow rendering, what do you normally do instead?
On my case the parent component have references to N child components, and these child components calls web-services on `ngOnInit`, so I wanted to avoid having to create mocks for each of these services.
Thanks for

[2022-03-23 15:08] timdeschryver commented on #288
I'm currently on my phone, feel free to add this example in the docs, or as an example in this repo. If you want to do this you can reopen this issue so we don't forget about it.
We can discuss the details later.

[2022-03-30 09:30] 2YY opened #290 "How to test components with ViewEncapsulation.ShadowDom?"
Hi, I'm testing component that used as WebComponent (Angular Element).

And I want to enable shadow DOM encapsulation.

[code]

But if shadow DOM encapsulation is enabled, Angular Testing Library seems failed find elements in shadow DOM.

 Is there anything I can solve this problem?

Thanks.

[2022-03-30 10:45] timdeschryver commented on #290
Hi, thanks for raising this issue.
Unfortunately, we don't support shadow DOM for now.
We're tracking this in DOM Testing Library, if it lands there, it should also be possible to use it with Angular Testing Library.

[2022-04-29 09:44] sergio-mazzoleni opened #291 "form value not updated after renderResult.change when using trackBy function in *ngFor"
Here's a minimal reproducible example

[code]

In template definitition, removing `trackBy: trackByIndex` will allow the test to pass

I'm using angular 13 and
[code]

For the rest, thanks for the good work. I've been using `@testing-library/angular` for several years, and I just love it 🥰

[2022-04-30 12:20] timdeschryver commented on #291
Hi, thanks for raising this issue.
Do you have an idea on how we can resolve this?
Also, thanks for the kind works :)

[2022-05-01 18:04] timdeschryver commented on #291
Hmmm, do you know if this works in a running application?
It seems like invoking ngOnChanges during the test is causing this, and it can be "fixed" by redeclaring the group:

[code]

[2022-05-02 07:36] sergio-mazzoleni commented on #291
I was first convinced the problem was in the test framework, but finally realized I have the same issue in my running application 🤔

Once component's input change after initialization, the form value is no more updated when user types into HTML input elements. I'm not sure if this is an issue in Angular, but I'm probably not doing things the right way.

Anyway, thanks for your time, I think you ca

[2022-05-07 17:16] #291 closed

[2022-05-10 12:59] urbullet opened #293 "Angular Ag-Grid row group empty render when querying DOM elements with angular-testing-library"
[As mentioned in StackOverflow](https://stackoverflow.com/questions/72144303/angular-ag-grid-row-group-empty-render-when-querying-dom-elements-with-angular-t), I have an ag-grid that contains different columns and column groups, as well as row groups.

I am trying to test the DOM elements displayed in the row group using Jest and Angular Testing Library. The problem I am having is that the DOM ren

[2022-05-10 17:23] timdeschryver commented on #293
I'm sorry but I don't have experience with ag-grid.
If you provide an example, I could take a look.
Maybe the following blog could also be of help: https://blog.ag-grid.com/using-react-testing-library-with-ag-grid/

[2022-05-11 13:50] urbullet commented on #293
ag-grid provides many powerful features, including the [row grouping](https://ag-grid.com/javascript-data-grid/grouping/#example-default-row-grouping). It is basically combining rows based on grouping columns that are defined like in the example.

The problem is that when I go to the page containing the grid, I am able to view those groupings rows and their child rows as well. But when I do a scre

[2022-05-14 10:06] timdeschryver commented on #293
@urbullet Yea, but what I meant was an executable example where the test is failing.

[2022-06-01 12:33] github-actions opened #295 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-06-01 13:43] #295 closed, assigned to nobody

[2022-06-01 14:49] #293 closed

[2022-06-01 20:10] timdeschryver commented on #293
One more question on my end, does this test work by using the Angular TestBed, without Angular Testing Library?

[2022-06-07 08:40] jadengis opened #296 "Angular 14 support"
### Description

Currently standalone components, directives and pipes cannot be tested because they are automatically added to the `declarations` portion when configuring TestBed internally. Angular throws an error when trying to declare a standalone component.

### Proposed solution

Add the component/directive/pipe-under-test to the imports section of `TestBed.configureTestingModule` if the com

[2022-06-07 08:59] rothsandro commented on #296
I did not test it but maybe it helps to set `excludeComponentDeclaration: true`.

[2022-06-07 13:10] timdeschryver commented on #296
Hi, sadly I didn't have the bandwidth to proactively test ATL with standalone components.
I do think that  `excludeComponentDeclaration` should work.
Maybe we can improve the API for standalone components later.

[2022-06-07 16:42] jadengis commented on #296
Do you accept PRs? There is an `isStandalone` function that can be used to put the component in imports instead of declarations when it's a standalone component.

[2022-06-08 04:35] jadengis commented on #296
I opened a PR which upgrades to v14 and fixes the `render` api to add standalone components to `imports` instead of `declarations`. With this change `await render(StandaloneComponent)` works. Let me know what you think. :pray:

[2022-06-08 08:33] timdeschryver commented on #296
Great, thanks @jadengis (of course PRs are more than welcome, thanks for that!).
I left a comment in the PR.

[2022-06-09 05:47] #296 closed

[2022-06-09 10:25] dzonatan opened #299 "broken `<ATL>/jest-utils` module resolution in Jest v28"
follow-up on https://github.com/facebook/jest/issues/12927

TLDR: `@testing-library/angular/jest-utils` import in Jest v28 is broken and results in this error:
![image](https://user-images.githubusercontent.com/5166666/172627756-bd68ea8c-2183-4c74-bae6-0852e3c488bd.png)

Based on Simen's comment it seems like this library uses a bad package format:

Which is probably true because other packages li

[2022-06-09 13:12] VictorJSV commented on #184
This is the `userEvent` correct use.
[code]

[2022-06-10 08:09] #299 closed

[2022-06-30 23:08] jadir-junior opened #304 "How can I use @Output communication in my test integration?"
Hi,

How can I use @Ouput communincation between my child and parent component?

**header-back-button.component.ts** (parente component)
[code]

**icon-button.component.ts** (child component)
[code]
**header-back-button.component.spec.ts** (my test)
[code]

when I try to test my expect toHaveBeenCalled is not work, because the output in the child component is not emit

[2022-07-01 06:19] timdeschryver commented on #304
This seems to be working on my end.
For an example see https://github.com/testing-library/angular-testing-library/blob/a4eded387122dfb4983812ff5931584bfb550bb6/apps/example-app/src/app/issues/issue-304.spec.ts

[2022-07-01 12:31] jadir-junior commented on #304
Hi @timdeschryver,
I try to make exactaly equal your example, but I get a error yet.

[code]

the error logs
[code]

[2022-07-01 12:36] timdeschryver commented on #304
Hard to tell without an actual reproduction.
Can you reproduce it with this test case?
https://github.com/testing-library/angular-testing-library/blob/a4eded387122dfb4983812ff5931584bfb550bb6/apps/example-app/src/app/issues/issue-304.spec.ts

[2022-07-01 13:36] jadir-junior commented on #304
My packjson is:

[code]

[2022-07-01 13:45] jadir-junior commented on #304
Thank you some much @timdeschryver, You save my life :laughing:

[2022-07-01 13:49] #304 closed

[2022-07-01 13:51] timdeschryver commented on #304
Glad we were able to resovle this.
Have a great weekend @jadir-junior !

[2022-07-04 04:28] jadengis opened #306 "No automatic override for `imports` on standalone components"
# Problem

For standalone components, we define compiler scope like
[code]
When using angular testing library, define component compilation scope using the `declarations` and `imports` property on the `render` function.
[code]
However, this does not overwrite the `imports` property of standalone components.

# Workaround

It is possible to manually override the `imports` property on a standalone c

[2022-07-05 13:27] timdeschryver commented on #306
I'm in favor of adding a `componentImports` property.

But I think this could get complicated if a child component also has its own imports that need to be mocked. We should keep that in mind, and try to find a solution for that as well.
To be honest, I'm not sure how to tackle that 😅

[2022-07-06 02:46] jadengis commented on #306
I've taken a first stab at this in https://github.com/testing-library/angular-testing-library/pull/307 and got it working. Would love some feedback on the API. :pray:

I don't think this is a concern because you should be able to simple replace the child component with a mock version and skip all its dependencies.

For something more complicated like rendering with a template where you aren't pass

[2022-07-06 05:00] timdeschryver commented on #306
We can tackle it when it becomes a problem 😅.
Iterating over the imports to replace all components might not work though, I was thinking more about an API where you could provide the `componentImport` for each component individually.

[2022-07-06 10:15] #306 closed

[2022-07-06 16:37] jadir-junior opened #308 "Can I test a prop in class css?"
Hi guys,

I'm try to test styles of a component with .toHaveStyle in the library, but I think, it's not possible.
Can I test a prop in class css?

I show you my code:

**button.component.ts**
[code]

my test **button.component.spec.ts**
[code]

And the error show me:
[code]

I try test if my background-color is different in default and primary colors

[2022-07-06 21:46] jadengis commented on #308
@jadir-junior I don't think this is an issue with this library. A similar issue was reported here using `styled-components` with React https://github.com/testing-library/jest-dom/issues/295, and a styled-components issue,  https://github.com/testing-library/jest-dom/issues/295.

If this is like the above issues, it might be that the stylesheets are not being applied to the DOM in the Jest environm

[2022-07-07 05:40] timdeschryver commented on #308
Indeed what @jadengis said.
Also, I wouldn't encourage to test the styles because this can be brittle.
You could check for classnames, or what I tend to do is to use data attributes.

[2022-07-07 05:40] #308 closed

[2022-07-25 16:44] jadir-junior opened #309 "karma in watch mode broken form tests when refresh"
I try test a form required, the first time test pass normal, but when I change the file and karma refresh the tests all tests in form broken

**app.component.ts**
[code]

**app.component.testing-library.spec.ts **
[code]

At first time the testing pass:

![Screenshot from 2022-07-25 13-35-38](https://user-images.githubusercontent.com/8190617/180829632-20b86874-611f-4614-a8b9-17a73cebc9be.png)

But

[2022-07-26 05:01] timdeschryver commented on #309
Hi, thanks for the reproduction.
I tried to reproduce it, but I wasn't really successful.
Is this something that always fails for you, because I tried changing the component and the test multiple times but the test keeps passing.

I suspect that it's a timing issue.
Could you try the following assertion?

[code]

[2022-07-26 12:44] jadir-junior commented on #309
I try to simulate
![bug](https://user-images.githubusercontent.com/8190617/181008495-faee2b14-802f-43a5-9d00-0748eaf86222.gif)

[2022-07-26 16:17] timdeschryver commented on #309
@jadir-junior thanks again.
It seems like it doesn't blur correctly, you could use `fireEvent.blur` for now which should work:

[code]

[2022-07-27 21:43] urbullet commented on #293
It works with TestBed yes. It also passes on Cucumber.JS tests.

Further updates on another case where else I am facing this issue:

I have a 3rd party component that I am using inside my modal. I am querying the screen where the modal is open and all the form elements inside of it are showing, including my 3rd party component. Now there is an issue that the HTML elements of that 3rd party compone

[2022-07-28 11:43] rothsandro commented on #309
The browser needs to be focused, see https://github.com/testing-library/user-event/issues/553

[2022-07-28 17:13] timdeschryver commented on #293
This seems to be a problem with Jest, more specifically js-dom.
To render the items ag-grid is doing something with screen size, height of rows, available size,... which isn't supported with js-dom (AFAIK).

What I tested:

- ran the same test with Karma, and the test succeeded
- ran the same test in Jest but without using Angular Testing Library, the test still fails

With these observations I th

[2022-08-16 14:16] jadir-junior opened #313 "WARN: 'Navigation triggered outside Angular zone, did you forget to call 'ngZone.run()'?'"
After update to Angular 14.1.2 the components with inject Router begin to show the WARN below in tests

WARN: 'Navigation triggered outside Angular zone, did you forget to call 'ngZone.run()'?'

how can I disabled these warns?

[2022-08-20 21:01] timdeschryver commented on #313
Thanks for raising this issue @jadir-junior .
It seems like you're right, I'll have a closer look at this at the start of next week.

[2022-08-22 11:13] #313 closed

[2022-09-28 20:01] jadir-junior opened #316 "Duplication element when use template in testing"
Hi,

In my test, when I use <ng-content></ng-content> and try to test with template, something look wrong, I get two elements duplicate in output test

** tag.component.ts**
[code]

**tag.component.spec.ts**
[code]

and the output

[code]

after the primary text where is ng-content the hc-tag show, It's no make sense. because the hc-tag is the root

version used
[code]

[2022-09-29 13:12] timdeschryver commented on #316
The problem is that the tag is created twice, you'll have to close the tag during the `render`.

[code]

See https://github.com/testing-library/angular-testing-library/commit/53b29ca0c0675c39d696e97ff783835f76292a16 for the reworked test case.

[2022-09-29 13:12] #316 closed

[2022-10-07 16:17] jadir-junior opened #317 "how test a component with appentTo "body""
Hi I have a component modal with a prop to appent to body where use document.body.

How do I render the body on test to test my modal is open in the body?

I see that react testing library have some like this
https://testing-library.com/docs/react-testing-library/api/#container

but in angular testing library I don't see that

[2022-11-02 03:45] ruoxin-mx51 opened #318 "Router events triggered unexpectedly when a component is rendered"
The router events will be trigger when a component is rendered.

Given a component
[code]

and its test
[code]

Now run the test then you can see the router events (which won't show up with Angular TestBed or when running the app)

Is this an intentional behaviour? (FYI I believe this behaviour was introduced in version 11.0.3: https://github.com/testing-library/angular-testing-library/pull/286)

[2022-11-02 09:19] timdeschryver commented on #318
This is an intended behavior to reflect a "running" application.

I would suspect the running app to behave the same way though, maybe it isn't because event would already be processed? I'll have to investigate this, perhaps it would be better to invoke the `initialNavigation()` method before the component is created.

[2022-11-02 09:23] timdeschryver opened #319 "remove the experimental flag of ɵcomponentImports"
Since Angular standalone components will be released in Angular v15 we should also add it to Angular Testing Library.
We already added this feature in #307, but it was also experimental.

We should now also remove the experimental flag on our side by renaming the property to `componentImports`

https://github.com/testing-library/angular-testing-library/blob/53b29ca0c0675c39d696e97ff783835f76292a16

[2022-11-03 04:19] ruoxin-mx51 commented on #318
Thanks for reply. I have tested it in a running app but didn't see this behaviour. This is the repo: https://github.com/ruoxin-mx51/ng14-apple-banana

[2022-11-09 19:01] jzaburunov opened #320 "TestingLibraryElementError: Unable to find an accessible element with the role "button""
Hello fellas. I encountered this issue : `TestingLibraryElementError: Unable to find an accessible element with the role "button"` while trying to take an element by advice of testing playgound app:

<img width="358" alt="Screenshot 2022-11-09 at 21 54 09" src="https://user-images.githubusercontent.com/11402322/200916670-9e76a0b4-8155-4820-898e-155aa22ff44d.png">

And looks like in browser , this

[2022-11-18 10:42] jzaburunov commented on #320
This is because JSDOM doesn't work with native web components.

[2022-11-18 10:42] #320 closed

[2022-11-18 15:47] timdeschryver commented on #320
Thanks for the update @jzaburunov

[2022-11-20 11:50] antischematic opened #322 "This library calls detect changes on every property change"
[code]

[code]

Expected result: `count: 0`
Actual result: `count: 3`

This is not correct Angular behavior and breaks custom change detection strategies.

Proposal: Use `ComponentRef#setInput` to change component properties instead.

[2022-11-20 18:37] timdeschryver commented on #318
Thanks @ruoxin-mx51, this will get fixed soon.

[2022-11-20 22:40] antischematic opened #323 "ngOnChanges is called even if no inputs are set"
[code]

Expected: nothing
Actual: Error thrown

It should only call ngOnChanges if inputs are overridden.

[2022-11-21 18:55] timdeschryver commented on #322
While I agree that this isn't the Angular behavior, I do expect the test case to behave like this.
Could you share some insights about "breaks custom change detection strategies" for your use case please?

[2022-11-21 18:57] timdeschryver commented on #323
Good catch, thanks!

[2022-11-21 19:14] timdeschryver commented on #317
I'm not sure what you mean @jadir-junior
(Angular) testing library has `screen`, with it you got access to the whole document body.

You could use `screen.getByRole` if you want to query the modal in the document.

[2022-11-21 20:58] antischematic commented on #322
In my use case I am using proxies to generate a dependency graph and checking if those dependencies are dirty with change detection hooks. Using this with `render` causes two problems:

1. I'm unable to write tests that assert change detection runs X number of times, because this lib is calling `detectChanges` when I'm not expecting it.
2. In some cases this causes infinite recursion in tests that

[2022-11-22 17:08] timdeschryver commented on #322
I see, thanks for clarifying this @antischematic.
What do you think of adding a config property (that could be set globally), to disable the automatic change detection?
I think for most of the projects, the default should still invoke the change detection.

[2022-11-22 20:29] antischematic commented on #322
I think automatic change detection should be kept while changing the implementation so it aligns better with real app behaviour.

1. Automatic change detection should be done using `fixture.autoDetectChanges`. This makes it run like a normal app.
2. Passing `detectChanges: false` should disable automatic change detection.
3. Calling `change` should only set input properties using `fixture.setInput

[2022-11-23 17:52] timdeschryver commented on #322
Thanks again for the input @antischematic .
After toying with it for a while, I do have see some concerns.

`setInput` fails when the property isn't marked with `@Input()`, so this would fail for output properties. Sadly, this doesn't throw but it creates a `console.error`, which makes it harder to fall back to the current behavior.

I've tried `autoDetectChanges` in the past, but this didn't work

[2022-11-25 12:36] timdeschryver commented on #322
@antischematic feel free to try out the beta version (13.0.0-beta.6).
You can find the changes on the [release page](https://github.com/testing-library/angular-testing-library/releases).

[2022-11-28 10:58] shaman-apprentice opened #333 "Reduce peer dependencies for easier integration"
As a developer I want an easy integration into my project.

I am currently working on a project, which has some legacy dependencies which require `rxjs@6` as peer dependency and their update would be quite some work.

This (awesome :) ) testing-library has `rxjs@7` as peer dependency [declared here](https://github.com/testing-library/angular-testing-library/blob/main/projects/testing-library/packa